<div id="personal_data_header">
    <div class="arrow" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
        <i></i>
        <p>Бонусная программа</p>
    </div>
    <div class="collapse" id="collapseExample">
      <div class="col-md-14">
        <div class="bonus_programm_wrapper">
            <h2>Бонусная программа</h2>
            <p>Ваша реферальная ссылка для добавления пользователей</p>
            <div class="row">
                <div class="col-md-20">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="http://">
                          <span class="input-group-btn">
                            <button class="btn btn-default" type="button">Копировать</button>
                          </span>
                    </div><!-- /input-group -->
                </div><!-- /.col-lg-6 -->
            </div><!-- /.row -->
            <p>Друзей добавлено: 12</p>
        </div>
      </div>
      <div class="col-md-10">
        <div class="select_tariff_wrapper">
            <div class="block"><span class="vip">vip</span> - 5 <a href="#">выбрать</a></div>
            <div class="block only_mobile_style_gold"><span class="gold">gold</span> - 500 <a href="#">выбрать</a></div>
            <div class="block only_mobile_style_premium"><span class="premium">premium</span> - 0 <a href="#"></a></div>
        </div>
        <div class="comming_soon_wrapper pull-right">
            <div class="ch-info-wrap">
                <div class="ch-info">
                    <div class="ch-info-front">
                        <span>i</span>
                        <img src="{{ static('img/profile/ico_mask.png') }}" alt="icon-mask"/>
                        <h2>Уже скоро!</h2>
                        <p>вас ждет новое задание</p>
                    </div>
                    <div class="ch-info-back">
                        <h3>WTF?</h3>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>
</div>