/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i|Oswald:200,300,400,500,600,700&subset=cyrillic,cyrillic-ext");
/* line 5, ../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 9, ../sass/screen.sass */
.selector-for-some-widget {
  box-sizing: content-box;
}

/* line 11, ../sass/screen.sass */
button, input, textarea, a {
  outline: none;
}

/* line 13, ../sass/screen.sass */
#clone {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  text-align: center;
}

/* line 22, ../sass/screen.sass */
#clone > img {
  cursor: pointer;
  margin: auto;
  width: 820px;
  top: 50%;
  position: relative;
  margin-top: -273px;
}

/* line 29, ../sass/screen.sass */
section.section_1 {
  background: url("../img/fon1.jpg") no-repeat center;
  width: 100%;
  height: 897px;
  background-size: cover;
}
/* line 34, ../sass/screen.sass */
section.section_1 .header_wrapper {
  background-color: rgba(0, 0, 0, 0.5);
}
/* line 36, ../sass/screen.sass */
section.section_1 .container {
  color: #fff;
  font-family: "Open Sans", sans-serif;
}
/* line 41, ../sass/screen.sass */
section.section_1 .container img {
  padding: 12px 0 22px;
}
/* line 43, ../sass/screen.sass */
section.section_1 .container .text {
  line-height: 1.6;
  font-weight: 300;
  font-size: 18px;
  padding-top: 25px;
}
/* line 48, ../sass/screen.sass */
section.section_1 .container span {
  display: block;
  text-align: right;
  font-weight: 700;
  font-size: 20px;
  padding-top: 10px;
}
/* line 54, ../sass/screen.sass */
section.section_1 .container span:first-child {
  color: #dd2155;
  font-size: 34px;
  font-weight: 800;
  padding-top: 20px;
}
/* line 60, ../sass/screen.sass */
section.section_1 .container .main_block .first_text {
  font-size: 60px;
  font-weight: 700;
  line-height: 1.2;
  padding-top: 140px;
}
/* line 65, ../sass/screen.sass */
section.section_1 .container .main_block .second_text {
  font-size: 24px;
  font-weight: 300;
  padding: 45px 0;
}
/* line 69, ../sass/screen.sass */
section.section_1 .container .main_block .birka {
  display: inline-block;
  padding: 10px 20px 25px;
  background: #222222;
  font-size: 30px;
  line-height: 0.5;
  position: relative;
  left: 30px;
  bottom: -23px;
}
/* line 78, ../sass/screen.sass */
section.section_1 .container .main_block .birka:before {
  content: "";
  border: 28px solid transparent;
  border-right: 17px solid #222;
  position: absolute;
  top: 24px;
  left: -45px;
}
/* line 85, ../sass/screen.sass */
section.section_1 .container .main_block .birka b {
  color: #FF1B56;
  font-weight: 700;
}
/* line 88, ../sass/screen.sass */
section.section_1 .container .main_block .birka span {
  text-transform: uppercase;
  font-size: 40px;
  font-weight: 400;
  color: #fff;
}
/* line 93, ../sass/screen.sass */
section.section_1 .container .main_block input[type='button'], section.section_1 .container .main_block input[type='button']:hover {
  color: #fff;
  padding: 25px 30px;
  font-size: 24px;
  font-weight: 300;
  border: 0;
  cursor: pointer;
}
/* line 100, ../sass/screen.sass */
section.section_1 .container .main_block input[type='button']:nth-child(1), section.section_1 .container .main_block input[type='button']:hover:nth-child(1) {
  background: #FF1B56;
}
/* line 103, ../sass/screen.sass */
section.section_1 .container .main_block input[type='button']:nth-child(2), section.section_1 .container .main_block input[type='button']:hover:nth-child(2) {
  background: #FF1B56;
  margin-left: 25px;
}

/* line 106, ../sass/screen.sass */
section.section_2 {
  background: url("../img/fon2.jpg") no-repeat center;
  width: 100%;
  height: 725px;
  background-size: cover;
  position: relative;
}
/* line 112, ../sass/screen.sass */
section.section_2 .container {
  color: #fff;
  font-family: "Open Sans", sans-serif;
}
/* line 115, ../sass/screen.sass */
section.section_2 .container .main_block {
  color: #000;
  font-size: 24px;
  font-style: italic;
  line-height: 1.5;
  padding: 0;
  margin-top: 250px;
}
/* line 122, ../sass/screen.sass */
section.section_2 .container img {
  position: absolute;
  width: 122px;
  height: 177px;
  bottom: -70px;
  left: 68%;
}

/* line 128, ../sass/screen.sass */
section.section_3 {
  background: #6393C4;
  height: 895px;
}
/* line 131, ../sass/screen.sass */
section.section_3 .container {
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-size: 24px;
}
/* line 135, ../sass/screen.sass */
section.section_3 .container div {
  padding: 0;
}
/* line 137, ../sass/screen.sass */
section.section_3 .container ul {
  margin-left: 50px;
  margin-top: 150px;
}
/* line 140, ../sass/screen.sass */
section.section_3 .container ul li {
  list-style-type: square;
  padding: 12px 0 12px 10px;
}
/* line 144, ../sass/screen.sass */
section.section_3 .container .content {
  font-size: 20px;
  background: #476D94;
  padding: 50px;
  margin-top: 70px;
  line-height: 1.7;
}
/* line 150, ../sass/screen.sass */
section.section_3 .container .content:after {
  content: "";
  border: 30px solid transparent;
  border-bottom: 35px solid #476D94;
  position: absolute;
  top: 5px;
  left: 100px;
}

/* line 157, ../sass/screen.sass */
section.section_4 {
  background: url("../img/fon3.jpg") no-repeat center;
  width: 100%;
  height: 764px;
  background-size: cover;
  position: relative;
}
/* line 163, ../sass/screen.sass */
section.section_4 .container {
  color: #000;
  font-family: "Open Sans", sans-serif;
  font-size: 24px;
  text-align: center;
}
/* line 168, ../sass/screen.sass */
section.section_4 .container #slider-wrap {
  background: #D7D7D7;
  position: relative;
  top: 180px;
  left: -40px;
  width: 650px;
  height: 390px;
  padding: 50px;
}
/* line 176, ../sass/screen.sass */
section.section_4 .container #slider-wrap .sli-links {
  position: relative;
  bottom: -245px;
}
/* line 179, ../sass/screen.sass */
section.section_4 .container #slider-wrap .sli-links .control-slide {
  font-size: 0;
  cursor: pointer;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #959595;
  display: inline-block;
  margin: 0 10px;
}
/* line 188, ../sass/screen.sass */
section.section_4 .container #slider-wrap .sli-links .control-slide.active {
  background: #dd2155;
}
/* line 191, ../sass/screen.sass */
section.section_4 .container #slider-wrap #slider .slide {
  padding: 90px 110px;
  line-height: 2;
  text-align: left;
}
/* line 195, ../sass/screen.sass */
section.section_4 .container #slider-wrap #slider .slide span {
  color: #FF1B56;
  font-weight: 700;
}
/* line 198, ../sass/screen.sass */
section.section_4 .container #prewbutton, section.section_4 .container #nextbutton {
  display: block;
  width: 35px;
  height: 61px;
  position: absolute;
  top: 50%;
  margin-top: -30px;
  overflow: hidden;
  text-indent: -999px;
  background: url("/img/arrow_l.png") left center no-repeat;
  z-index: 3;
}
/* line 209, ../sass/screen.sass */
section.section_4 .container #prewbutton {
  left: 25px;
}
/* line 211, ../sass/screen.sass */
section.section_4 .container #nextbutton {
  right: 25px;
  background: url("/img/arrow_r.png") right center no-repeat;
}

/* line 214, ../sass/screen.sass */
section.section_5 {
  background: #F4F4F4;
  height: 895px;
  position: relative;
}
/* line 218, ../sass/screen.sass */
section.section_5 .container {
  color: #000;
  font-family: "Open Sans", sans-serif;
  font-size: 24px;
  text-align: center;
}
/* line 223, ../sass/screen.sass */
section.section_5 .container h2 {
  font-size: 48px;
  font-weight: 700;
  padding: 185px 0 80px 0;
}
/* line 233, ../sass/screen.sass */
section.section_5 .container .row span {
  font-size: 20px;
  display: block;
  line-height: 1.8;
  padding-top: 20px;
}

/* line 238, ../sass/screen.sass */
section.section_6 {
  background: #1B1F2E;
  height: 955px;
}
/* line 241, ../sass/screen.sass */
section.section_6 .container {
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-size: 24px;
  text-align: center;
  position: relative;
}
/* line 247, ../sass/screen.sass */
section.section_6 .container .center {
  text-align: center;
  display: inline-block;
  padding: 0;
}
/* line 251, ../sass/screen.sass */
section.section_6 .container h2 {
  font-size: 48px;
  font-weight: 700;
  padding: 145px 0 80px 0;
}
/* line 255, ../sass/screen.sass */
section.section_6 .container h2 span {
  color: #fff;
  display: inline-block;
  padding: 5px 15px 15px 15px;
  background: #c22d57;
  -moz-transform: rotate(-30deg);
  -ms-transform: rotate(-30deg);
  -webkit-transform: rotate(-30deg);
  -o-transform: rotate(-30deg);
  transform: rotate(-30deg);
}
/* line 265, ../sass/screen.sass */
section.section_6 .container img {
  position: absolute;
  top: -62px;
  left: 59%;
}
/* line 269, ../sass/screen.sass */
section.section_6 .container ul {
  list-style: none;
  padding-top: 40px;
  padding-left: 20px;
}
/* line 273, ../sass/screen.sass */
section.section_6 .container ul li {
  text-align: left;
  background: url("/img/ico_x.png") 0 0.1em no-repeat;
  vertical-align: top;
  padding-left: 55px;
  padding-bottom: 35px;
  line-height: 1.3;
}
/* line 280, ../sass/screen.sass */
section.section_6 .container ul li span {
  color: #7392c1;
  font-weight: 800;
}

/* line 283, ../sass/screen.sass */
section.section_7 {
  background: #030613;
  padding-top: 200px;
  padding-bottom: 340px;
  color: #fff;
  font-family: "Open Sans", sans-serif;
}
/* line 289, ../sass/screen.sass */
section.section_7 .font_wrapper {
  background: url("../img/image.jpg") no-repeat center;
  width: 100%;
  height: 643px;
  background-size: cover;
  position: relative;
}
/* line 295, ../sass/screen.sass */
section.section_7 .font_wrapper img {
  position: absolute;
  top: -185px;
}
/* line 298, ../sass/screen.sass */
section.section_7 .font_wrapper h2 {
  position: absolute;
  margin-left: 300px;
  font-size: 48px;
  font-weight: 700;
  top: -150px;
}
/* line 304, ../sass/screen.sass */
section.section_7 .font_wrapper h2 span {
  color: #009BDA;
  text-transform: uppercase;
}
/* line 307, ../sass/screen.sass */
section.section_7 .font_wrapper .container_main {
  text-align: center;
  padding-top: 320px;
}
/* line 310, ../sass/screen.sass */
section.section_7 .font_wrapper .container_main div {
  display: inline-block;
  text-align: center;
  padding: 0;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 24px;
  background: #000;
  padding: 20px;
  vertical-align: middle;
  line-height: 1.4;
}
/* line 322, ../sass/screen.sass */
section.section_7 .font_wrapper .container_main .left {
  background: #009BDA;
}
/* line 324, ../sass/screen.sass */
section.section_7 .font_wrapper .container_main .center {
  font-size: 44px;
  margin: 0 20px;
  text-transform: uppercase;
}
/* line 328, ../sass/screen.sass */
section.section_7 .font_wrapper .container_footer {
  text-align: center;
  position: relative;
  bottom: -160px;
  width: 100%;
}
/* line 333, ../sass/screen.sass */
section.section_7 .font_wrapper .container_footer p {
  display: inline-block;
  font-size: 30px;
  font-weight: 700;
  padding-bottom: 50px;
  line-height: 1.3;
}
/* line 339, ../sass/screen.sass */
section.section_7 .font_wrapper .container_footer p span {
  color: #009BDA;
  text-transform: uppercase;
}
/* line 342, ../sass/screen.sass */
section.section_7 .font_wrapper input[type='button'], section.section_7 .font_wrapper input[type='button']:hover {
  color: #fff;
  padding: 25px 30px;
  font-size: 24px;
  font-weight: 300;
  border: 0;
  cursor: pointer;
  background: #FF1B56;
}

/* line 350, ../sass/screen.sass */
section.section_8 {
  background: #F4F4F4;
  height: 980px;
}
/* line 353, ../sass/screen.sass */
section.section_8 .container {
  color: #000;
  font-family: "Open Sans", sans-serif;
  font-size: 24px;
  text-align: center;
}
/* line 358, ../sass/screen.sass */
section.section_8 .container h2 {
  font-size: 48px;
  font-weight: 700;
  padding: 120px 0 80px 0;
}
/* line 362, ../sass/screen.sass */
section.section_8 .container h2 span {
  color: #FF1B56;
  display: inline-block;
  padding: 5px 15px 15px 15px;
}
/* line 366, ../sass/screen.sass */
section.section_8 .container .row div {
  padding: 0 10px;
}
/* line 368, ../sass/screen.sass */
section.section_8 .container .row div span {
  font-size: 20px;
  display: block;
  line-height: 1.7;
  padding-top: 20px;
  padding-bottom: 20px;
}

/* line 374, ../sass/screen.sass */
section.section_9 {
  background: #383838;
  height: 305px;
  position: relative;
}
/* line 378, ../sass/screen.sass */
section.section_9 img {
  padding-top: 90px;
  width: 100%;
}

/* line 381, ../sass/screen.sass */
section.section_9 .container:after {
  content: "";
  border: 30px solid transparent;
  border-top: 25px solid #383838;
  position: absolute;
  bottom: -55px;
  left: 50%;
  margin-left: -30px;
}

/* line 390, ../sass/screen.sass */
section.section_10 .container {
  color: #383838;
  font-family: "Open Sans", sans-serif;
  text-align: center;
}
/* line 395, ../sass/screen.sass */
section.section_10 .container .row .content {
  text-align: center;
  display: inline-block;
  padding-bottom: 90px;
}
/* line 399, ../sass/screen.sass */
section.section_10 .container .row .content h2 {
  display: inline-block;
  font-size: 48px;
  font-weight: 700;
  padding-top: 80px;
  padding-bottom: 60px;
}
/* line 405, ../sass/screen.sass */
section.section_10 .container .row .content .dots {
  padding: 15px 0;
}
/* line 407, ../sass/screen.sass */
section.section_10 .container .row .content .circle {
  display: inline-block;
  background: #009BDA;
  border-radius: 50%;
  color: #fff;
  font-size: 24px;
  font-weight: 700;
  padding: 12px;
  text-align: center;
  width: 50px;
  margin-right: 20px;
}
/* line 418, ../sass/screen.sass */
section.section_10 .container .row .content ul {
  font-size: 24px;
  padding-top: 45px;
  padding-bottom: 40px;
  text-align: left;
}
/* line 423, ../sass/screen.sass */
section.section_10 .container .row .content ul li {
  font-size: 20px;
  padding: 35px 0 0;
  background: url("/img/dot.png") 0 2.1em no-repeat;
  padding-left: 18px;
  display: inline-block;
}
/* line 429, ../sass/screen.sass */
section.section_10 .container .row .content h3 {
  font-size: 24px;
  padding: 25px 0;
  text-align: left;
}

/* line 433, ../sass/screen.sass */
section.section_11 {
  background: url("../img/fon4.jpg") no-repeat center;
  width: 100%;
  height: 760px;
  background-size: cover;
  position: relative;
}
/* line 439, ../sass/screen.sass */
section.section_11 .container {
  color: #fff;
  font-family: "Open Sans", sans-serif;
  text-align: center;
  font-size: 24px;
  font-weight: 300;
  line-height: 1.4;
}
/* line 446, ../sass/screen.sass */
section.section_11 .container h2 {
  font-size: 48px;
  font-weight: 700;
  padding: 150px 0 60px 0;
}
/* line 450, ../sass/screen.sass */
section.section_11 .container .main_content {
  background-color: rgba(124, 100, 124, 0.7);
  padding: 40px 40px 130px;
  margin: 10px;
  border: 2px solid #FFAA3C;
}
/* line 456, ../sass/screen.sass */
section.section_11 .container .main_content b {
  font-weight: 700;
}
/* line 458, ../sass/screen.sass */
section.section_11 .container .main_content span {
  font-weight: 700;
  color: #FFAA3C;
}
/* line 461, ../sass/screen.sass */
section.section_11 .container input[type='button'], section.section_11 .container input[type='button']:hover {
  color: #fff;
  padding: 15px 30px;
  font-size: 24px;
  font-weight: 300;
  border: 0;
  cursor: pointer;
  position: absolute;
  bottom: 40px;
  width: 250px;
  left: 50%;
  margin-left: -125px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
/* line 474, ../sass/screen.sass */
section.section_11 .container .first {
  background: #489AB0;
}
/* line 476, ../sass/screen.sass */
section.section_11 .container .second {
  background: #FF1B56;
}

/* line 478, ../sass/screen.sass */
section.section_12 {
  background: #15130E;
  height: 950px;
}
/* line 481, ../sass/screen.sass */
section.section_12 .container {
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-size: 24px;
  text-align: center;
}
/* line 486, ../sass/screen.sass */
section.section_12 .container h2 {
  font-size: 48px;
  font-weight: 700;
  padding: 120px 0 80px 0;
  display: inline-block;
}
/* line 491, ../sass/screen.sass */
section.section_12 .container .main_content {
  text-align: left;
}
/* line 493, ../sass/screen.sass */
section.section_12 .container .main_content img {
  float: left;
}
/* line 495, ../sass/screen.sass */
section.section_12 .container .main_content ul {
  color: #dd2155;
  font-weight: 700;
  font-size: 30px;
  list-style: none;
  padding-left: 200px;
}
/* line 501, ../sass/screen.sass */
section.section_12 .container .main_content ul li {
  font-size: 20px;
  font-weight: 300;
  color: #fff;
  padding: 25px 0 0;
  line-height: 1.5;
}

/* line 507, ../sass/screen.sass */
section.section_13 {
  background: #F4F4F4;
  height: 700px;
  position: relative;
}
/* line 511, ../sass/screen.sass */
section.section_13 .container {
  color: #2F2F2F;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  text-align: center;
  position: relative;
  height: 100%;
}
/* line 518, ../sass/screen.sass */
section.section_13 .container i {
  width: 109px;
  height: 109px;
  background: url("/img/ico_avatar.png") no-repeat;
  position: relative;
  display: inline-block;
  position: relative;
  top: 0;
  left: 0;
}
/* line 527, ../sass/screen.sass */
section.section_13 .container i.avatar1 {
  background-position: 0 0;
}
/* line 529, ../sass/screen.sass */
section.section_13 .container i.avatar2 {
  background-position: -147px 0;
}
/* line 531, ../sass/screen.sass */
section.section_13 .container i.avatar3 {
  background-position: -299px 0;
}
/* line 533, ../sass/screen.sass */
section.section_13 .container i.avatar4 {
  background-position: -450px 0;
}
/* line 535, ../sass/screen.sass */
section.section_13 .container h2 {
  font-size: 48px;
  font-weight: 700;
  padding: 120px 0 50px 0;
  display: inline-block;
}
/* line 541, ../sass/screen.sass */
section.section_13 .container .cbp-fwslider p {
  padding-bottom: 30px;
}
/* line 543, ../sass/screen.sass */
section.section_13 .container .cbp-fwslider p span {
  font-weight: 700;
  font-size: 30px;
  color: #FF1B56;
  padding: 15px 0 0;
  display: block;
}
/* line 551, ../sass/screen.sass */
section.section_13 .container .cbp-fwslider ul li > div a {
  color: red;
  text-decoration: underline;
}
/* line 554, ../sass/screen.sass */
section.section_13 .container nav {
  display: none;
}
/* line 556, ../sass/screen.sass */
section.section_13 .container nav span {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #959595;
  display: inline-block;
  border: none;
  margin: 0 10px;
}
/* line 564, ../sass/screen.sass */
section.section_13 .container .cbp-fwcurrent {
  background: #FF1B56;
}

/* line 566, ../sass/screen.sass */
section.section_14 {
  background: #fff;
  padding: 15px 0;
  position: relative;
}
/* line 571, ../sass/screen.sass */
section.section_14 .container h2 {
  font-family: "Open Sans", sans-serif;
  font-size: 48px;
  text-align: center;
  color: #2F2F2F;
  font-weight: 700;
  padding: 50px 0;
}
/* line 578, ../sass/screen.sass */
section.section_14 img {
  border: 1px solid #DFDFDF;
  padding: 10px;
  background: #F5F5F5;
  max-width: 100%;
  width: 100%;
  height: 250px;
  cursor: pointer;
}
/* line 586, ../sass/screen.sass */
section.section_14 .owl-nav .owl-next, section.section_14 .owl-nav .owl-prev {
  position: absolute;
  display: block;
  width: 35px;
  height: 61px;
  top: 50%;
  margin-top: -30px;
  overflow: hidden;
  font-size: 0;
  z-index: 999;
}
/* line 597, ../sass/screen.sass */
section.section_14 .owl-nav .owl-next {
  right: 5%;
  background: url("/img/arrow_r.png") left center no-repeat;
}
/* line 600, ../sass/screen.sass */
section.section_14 .owl-nav .owl-prev {
  background: url("/img/arrow_l.png") right center no-repeat;
  left: 5%;
}

/* line 603, ../sass/screen.sass */
section.section_15 {
  background: #6393C4;
  width: 100%;
  height: auto;
  position: relative;
}
/* line 608, ../sass/screen.sass */
section.section_15 .container {
  color: #fff;
  font-family: "Open Sans", sans-serif;
  text-align: center;
  font-size: 24px;
  font-weight: 300;
  line-height: 1.4;
}
/* line 615, ../sass/screen.sass */
section.section_15 .container h2 {
  font-size: 48px;
  font-weight: 700;
  padding: 150px 0 0 0;
}
/* line 619, ../sass/screen.sass */
section.section_15 .container h2 span {
  color: #FF1B56;
  text-transform: uppercase;
}
/* line 622, ../sass/screen.sass */
section.section_15 .container h3 {
  font-size: 20px;
  padding-top: 10px;
  padding-bottom: 55px;
}
/* line 626, ../sass/screen.sass */
section.section_15 .container .footer_content {
  background-color: #FFF599;
  padding: 20px 40px;
  color: #333333;
  font-size: 20px;
  text-align: left;
  margin: 0 0 30px 0;
  line-height: 2;
  position: relative;
}
/* line 635, ../sass/screen.sass */
section.section_15 .container .footer_content img {
  float: left;
  margin-right: 30px;
  margin-bottom: 100px;
}
/* line 639, ../sass/screen.sass */
section.section_15 .container .main_content {
  padding: 30px 0 130px;
  color: #333333;
  font-size: 40px;
  font-weight: 700;
}
/* line 644, ../sass/screen.sass */
section.section_15 .container .main_content .birka {
  display: inline-block;
  padding: 15px 20px 20px;
  background: #222222;
  font-size: 30px;
  line-height: 1;
  position: relative;
  bottom: -92px;
  color: #fff;
}
/* line 653, ../sass/screen.sass */
section.section_15 .container .main_content .birka:before {
  content: "";
  border: 28px solid transparent;
  border-bottom: 17px solid #222;
  position: absolute;
  top: -45px;
  left: 123px;
}
/* line 661, ../sass/screen.sass */
section.section_15 .container .main_content .birka b {
  color: #FF1B56;
  font-weight: 700;
  font-size: inherit;
}
/* line 665, ../sass/screen.sass */
section.section_15 .container .main_content .birka span {
  text-transform: uppercase;
  font-size: 40px;
  font-weight: 400;
  color: #fff;
}
/* line 670, ../sass/screen.sass */
section.section_15 .container .main_content .price {
  font-size: 34px;
  position: absolute;
  top: 30px;
  left: 110px;
  font-weight: 400;
}
/* line 676, ../sass/screen.sass */
section.section_15 .container .main_content .price span {
  font-size: 20px;
  color: inherit;
}
/* line 679, ../sass/screen.sass */
section.section_15 .container .main_content .line {
  width: 140px;
  height: 3px;
  display: inline-block;
  background: #333;
  position: absolute;
  top: 53px;
  left: 100px;
  transform: rotate(-13deg);
}
/* line 688, ../sass/screen.sass */
section.section_15 .container .main_content strong {
  position: absolute;
  top: 140px;
  left: 150px;
  font-size: 20px;
  font-weight: 400;
  color: #FF1B56;
}
/* line 695, ../sass/screen.sass */
section.section_15 .container .main_content b {
  font-size: 70px;
}
/* line 697, ../sass/screen.sass */
section.section_15 .container .main_content span {
  font-weight: 700;
}
/* line 700, ../sass/screen.sass */
section.section_15 .container .main_content ul {
  list-style: none;
  text-align: left;
  padding-left: 30px;
  padding-top: 45px;
}
/* line 705, ../sass/screen.sass */
section.section_15 .container .main_content ul li {
  font-size: 24px;
  font-weight: 300;
  background: url("/img/ico_select.png") 0 1em no-repeat;
  padding-top: 20px;
  padding-left: 50px;
}
/* line 711, ../sass/screen.sass */
section.section_15 .container:after {
  clear: both;
  content: "";
}
/* line 714, ../sass/screen.sass */
section.section_15 .container input[type='button'], section.section_15 .container input[type='button']:hover {
  color: #fff;
  padding: 15px 30px;
  font-size: 24px;
  font-weight: 300;
  border: 0;
  cursor: pointer;
  position: absolute;
  bottom: 40px;
  left: 50%;
  margin-left: -153px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
/* line 726, ../sass/screen.sass */
section.section_15 .container .first {
  background: #489AB0;
}
/* line 728, ../sass/screen.sass */
section.section_15 .container .second {
  background: #FF1B56;
}

/* line 730, ../sass/screen.sass */
section.section_16 {
  background: url("../img/fon5.jpg") no-repeat center;
  width: 100%;
  height: 710px;
  background-size: cover;
  position: relative;
}
/* line 736, ../sass/screen.sass */
section.section_16 .container {
  color: #fff;
  font-family: "Open Sans", sans-serif;
  text-align: center;
  font-size: 24px;
  font-weight: 400;
  line-height: 1.4;
}
/* line 743, ../sass/screen.sass */
section.section_16 .container h2 {
  font-size: 48px;
  font-weight: 700;
  padding: 150px 0 60px 0;
}
/* line 747, ../sass/screen.sass */
section.section_16 .container address {
  font-size: 18px;
  padding-top: 145px;
}
/* line 750, ../sass/screen.sass */
section.section_16 .container address span {
  font-weight: 700;
}
/* line 752, ../sass/screen.sass */
section.section_16 .container p {
  font-size: 20px;
  padding-top: 50px;
}
/* line 755, ../sass/screen.sass */
section.section_16 .container p b {
  font-weight: 800;
  font-size: 34px;
}

/* line 758, ../sass/screen.sass */
.modal_form_egreet, .modal_form_audit, .modal_sucsess_ok {
  font-family: "Open Sans", sans-serif;
  width: 376px;
  border-radius: 10px;
  background: #263546;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-left: -188px;
  display: none;
  opacity: 0;
  z-index: 99999;
  padding: 20px 10px;
}
/* line 771, ../sass/screen.sass */
.modal_form_egreet h3, .modal_form_audit h3, .modal_sucsess_ok h3 {
  color: #fff;
  font-size: 14px;
  text-align: left;
  padding: 10px 0 10px 20px;
}
/* line 776, ../sass/screen.sass */
.modal_form_egreet h3 span, .modal_form_audit h3 span, .modal_sucsess_ok h3 span {
  background: #FF1B56;
  cursor: pointer;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  text-align: center;
  margin-left: 5px;
  display: inline-block;
  line-height: 1.3;
}
/* line 786, ../sass/screen.sass */
.modal_form_egreet h3 .tooltip_, .modal_form_audit h3 .tooltip_, .modal_sucsess_ok h3 .tooltip_ {
  border-bottom: 1px dotted #0077AA;
  cursor: help;
}
/* line 789, ../sass/screen.sass */
.modal_form_egreet h3 .tooltip_:after, .modal_form_audit h3 .tooltip_:after, .modal_sucsess_ok h3 .tooltip_:after {
  background: rgba(0, 0, 0, 0.8);
  border-radius: 8px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
  color: #FFF;
  content: attr(data-tooltip);
  margin-top: -24px;
  opacity: 0;
  padding: 10px 15px;
  position: absolute;
  visibility: hidden;
  width: 100%;
  text-align: left;
  transition: all 0.4s ease-in-out;
}
/* line 803, ../sass/screen.sass */
.modal_form_egreet h3 .tooltip_:hover:after, .modal_form_audit h3 .tooltip_:hover:after, .modal_sucsess_ok h3 .tooltip_:hover:after {
  opacity: 1;
  visibility: visible;
}
/* line 806, ../sass/screen.sass */
.modal_form_egreet .logo, .modal_form_audit .logo, .modal_sucsess_ok .logo {
  text-align: center;
  color: #fff;
  font-size: 24px;
  padding-bottom: 15px;
}
/* line 811, ../sass/screen.sass */
.modal_form_egreet .logo img, .modal_form_audit .logo img, .modal_sucsess_ok .logo img {
  padding: 5px 0 10px;
}
/* line 813, ../sass/screen.sass */
.modal_form_egreet div, .modal_form_audit div, .modal_sucsess_ok div {
  margin: 10px 20px;
}
/* line 815, ../sass/screen.sass */
.modal_form_egreet div input, .modal_form_audit div input, .modal_sucsess_ok div input {
  outline: none;
  padding: 10px;
  resize: none;
  border: 1px solid #dadada;
  width: 100%;
}
/* line 821, ../sass/screen.sass */
.modal_form_egreet div input[type='submit'], .modal_form_egreet div input[type='button'], .modal_form_audit div input[type='submit'], .modal_form_audit div input[type='button'], .modal_sucsess_ok div input[type='submit'], .modal_sucsess_ok div input[type='button'] {
  color: #fff;
  cursor: pointer;
  border: none;
  padding: 20px 10px;
  margin-top: 20px;
  box-sizing: border-box;
}
/* line 828, ../sass/screen.sass */
.modal_form_egreet div input[type='submit'], .modal_form_audit div input[type='submit'], .modal_sucsess_ok div input[type='submit'] {
  background: #FF1B56;
  width: 56%;
  float: left;
}
/* line 832, ../sass/screen.sass */
.modal_form_egreet div input[type='button'], .modal_form_audit div input[type='button'], .modal_sucsess_ok div input[type='button'] {
  background: #818181;
  width: 40%;
  float: right;
}

/* line 836, ../sass/screen.sass */
.modal_form_egreet {
  height: 530px;
  margin-top: -265px;
}
/* line 839, ../sass/screen.sass */
.modal_form_egreet form h5 {
  font-weight: 700;
  font-size: 52px;
  text-align: center;
  color: #fff;
}
/* line 844, ../sass/screen.sass */
.modal_form_egreet form h5 span {
  font-size: 30px;
}
/* line 846, ../sass/screen.sass */
.modal_form_egreet form h4 {
  text-align: right;
  color: #fff;
  font-size: 15px;
  padding-top: 10px;
  padding-right: 80px;
}

/* line 852, ../sass/screen.sass */
.modal_form_audit {
  height: 590px;
  margin-top: -295px;
}

/* line 855, ../sass/screen.sass */
.modal_sucsess_ok {
  height: 210px;
  margin-top: -105px;
  font-size: 24px;
  color: #fff;
  text-align: center;
}
/* line 861, ../sass/screen.sass */
.modal_sucsess_ok img {
  padding: 10px 0 15px;
}
/* line 863, ../sass/screen.sass */
.modal_sucsess_ok .footer {
  font-size: 18px;
  color: #ccc;
}

/* line 866, ../sass/screen.sass */
#overlay {
  z-index: 33333;
  position: fixed;
  background-color: #000;
  opacity: 0.8;
  -moz-opacity: 0.8;
  filter: alpha(opacity=80);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  cursor: pointer;
  display: none;
}

/* line 879, ../sass/screen.sass */
.center {
  text-align: center;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 768px), only screen and (min-width: 320px) and (max-width: 768px) {
  /* line 884, ../sass/screen.sass */
  section.section_1 .text {
    padding-top: 0;
  }
  /* line 887, ../sass/screen.sass */
  section.section_1 .container span {
    text-align: center;
    padding-bottom: 10px;
  }
  /* line 891, ../sass/screen.sass */
  section.section_1 .container .main_block .first_text {
    font-size: 30px;
    padding-top: 40px;
  }
  /* line 894, ../sass/screen.sass */
  section.section_1 .container .main_block .second_text {
    padding: 20px 0;
  }
  /* line 896, ../sass/screen.sass */
  section.section_1 .container .main_block .birka {
    left: inherit;
  }
  /* line 898, ../sass/screen.sass */
  section.section_1 .container .main_block .birka:before {
    border: none;
  }

  /* line 900, ../sass/screen.sass */
  .modal_form_egreet {
    margin-left: inherit;
    left: inherit;
  }

  /* line 904, ../sass/screen.sass */
  section.section_2 {
    background: none;
    height: 550px;
  }
  /* line 908, ../sass/screen.sass */
  section.section_2 .container .main_block {
    margin-top: 70px;
    padding: 0 20px;
  }

  /* line 911, ../sass/screen.sass */
  section.section_3 {
    height: 1120px;
  }
  /* line 914, ../sass/screen.sass */
  section.section_3 .container .content {
    padding: 20px;
  }

  /* line 918, ../sass/screen.sass */
  section.section_4 .container #slider-wrap {
    left: inherit;
    top: 100px;
    width: 100%;
  }
  /* line 923, ../sass/screen.sass */
  section.section_4 .container #slider-wrap #slider .slide {
    line-height: 1.5;
    padding: 60px;
  }
  /* line 926, ../sass/screen.sass */
  section.section_4 .container #slider-wrap #nextbutton {
    right: 5px;
  }
  /* line 928, ../sass/screen.sass */
  section.section_4 .container #slider-wrap #prewbutton {
    left: 5px;
  }

  /* line 930, ../sass/screen.sass */
  section.section_5 {
    height: 1150px;
  }
  /* line 933, ../sass/screen.sass */
  section.section_5 .container h2 {
    padding: 30px 0;
    font-size: 30px;
  }

  /* line 936, ../sass/screen.sass */
  section.section_6 {
    height: 1290px;
  }
  /* line 939, ../sass/screen.sass */
  section.section_6 .container h2 {
    font-size: 30px;
  }
  /* line 941, ../sass/screen.sass */
  section.section_6 .container h2 span {
    padding: 5px;
  }

  /* line 943, ../sass/screen.sass */
  section.section_7 {
    height: 1350px;
  }
  /* line 945, ../sass/screen.sass */
  section.section_7 .font_wrapper {
    background: none;
  }
  /* line 947, ../sass/screen.sass */
  section.section_7 .font_wrapper .container_header {
    text-align: center;
  }
  /* line 949, ../sass/screen.sass */
  section.section_7 .font_wrapper .container_header img {
    position: relative;
  }
  /* line 951, ../sass/screen.sass */
  section.section_7 .font_wrapper .container_header h2 {
    margin-left: 0;
    position: inherit;
  }
  /* line 954, ../sass/screen.sass */
  section.section_7 .font_wrapper .container_main {
    padding-top: 0;
  }
  /* line 956, ../sass/screen.sass */
  section.section_7 .font_wrapper .container_main .center {
    margin: 0;
  }
  /* line 958, ../sass/screen.sass */
  section.section_7 .font_wrapper .container_footer {
    bottom: 0;
  }

  /* line 960, ../sass/screen.sass */
  section.section_8 {
    height: 100%;
  }

  /* line 963, ../sass/screen.sass */
  section.section_9 {
    height: 220px;
  }
  /* line 965, ../sass/screen.sass */
  section.section_9 img {
    height: 100%;
  }

  /* line 969, ../sass/screen.sass */
  section.section_11 .container h2 {
    padding: 40px 0;
  }

  /* line 971, ../sass/screen.sass */
  section.section_12 {
    height: 100%;
  }
  /* line 973, ../sass/screen.sass */
  section.section_12 .container {
    padding-bottom: 20px;
  }
  /* line 975, ../sass/screen.sass */
  section.section_12 .container h2 {
    padding: 40px 0 0;
  }
  /* line 977, ../sass/screen.sass */
  section.section_12 .container .main_content {
    padding-top: 50px;
  }
  /* line 979, ../sass/screen.sass */
  section.section_12 .container .main_content img {
    margin-right: 30px;
  }
  /* line 981, ../sass/screen.sass */
  section.section_12 .container .main_content ul {
    padding-left: 0;
  }

  /* line 983, ../sass/screen.sass */
  section.section_13 {
    height: 100%;
  }
  /* line 986, ../sass/screen.sass */
  section.section_13 .container h2 {
    padding: 40px 0 0;
  }
  /* line 988, ../sass/screen.sass */
  section.section_13 .container .cbp-fwslider ul li > div, section.section_13 .container .cbp-fwslider ul li > p {
    overflow: hidden;
    line-height: 1.2;
    font-size: 18px;
  }

  /* line 992, ../sass/screen.sass */
  section.section_15 {
    height: 1334px;
  }
  /* line 995, ../sass/screen.sass */
  section.section_15 .container h2 {
    padding: 20px;
    font-size: 40px;
  }
  /* line 998, ../sass/screen.sass */
  section.section_15 .container h3 {
    padding: 10px;
  }
  /* line 1000, ../sass/screen.sass */
  section.section_15 .container .footer_content {
    font-size: 18px;
    top: 120px;
    padding: 20px;
    font-weight: 400;
  }
  /* line 1005, ../sass/screen.sass */
  section.section_15 .container .footer_content img {
    margin-bottom: 0;
  }
}
/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px), only screen and (min-width: 768px) and (max-width: 1024px) {
  /* line 1009, ../sass/screen.sass */
  .modal_form_egreet {
    left: 50% !important;
    margin-left: -212px !important;
  }

  /* line 1013, ../sass/screen.sass */
  section.section_1 .text {
    padding-top: 0;
  }
  /* line 1016, ../sass/screen.sass */
  section.section_1 .container span {
    text-align: center;
    padding-bottom: 10px;
  }
  /* line 1020, ../sass/screen.sass */
  section.section_1 .container .main_block .first_text {
    font-size: 30px;
    padding-top: 40px;
  }
  /* line 1023, ../sass/screen.sass */
  section.section_1 .container .main_block .second_text {
    padding: 20px 0;
  }
  /* line 1025, ../sass/screen.sass */
  section.section_1 .container .main_block .birka {
    left: inherit;
  }
  /* line 1027, ../sass/screen.sass */
  section.section_1 .container .main_block .birka:before {
    border: none;
  }
  /* line 1031, ../sass/screen.sass */
  section.section_1 section.section_2 .container .main_block {
    margin-top: 110px;
    padding: 0 20px;
  }
  /* line 1034, ../sass/screen.sass */
  section.section_1 section.section_3 {
    height: 1120px;
  }
  /* line 1037, ../sass/screen.sass */
  section.section_1 section.section_3 .container .content {
    padding: 20px;
  }
  /* line 1041, ../sass/screen.sass */
  section.section_1 section.section_4 .container #slider-wrap {
    left: inherit;
    top: 100px;
    width: 100%;
  }
  /* line 1046, ../sass/screen.sass */
  section.section_1 section.section_4 .container #slider-wrap #slider .slide {
    line-height: 1.5;
  }
  /* line 1048, ../sass/screen.sass */
  section.section_1 section.section_4 .container #slider-wrap #nextbutton {
    right: 5px;
  }
  /* line 1050, ../sass/screen.sass */
  section.section_1 section.section_4 .container #slider-wrap #prewbutton {
    left: 5px;
  }
  /* line 1052, ../sass/screen.sass */
  section.section_1 section.section_5 {
    height: 1150px;
  }
  /* line 1055, ../sass/screen.sass */
  section.section_1 section.section_5 .container h2 {
    padding: 30px 0;
    font-size: 30px;
  }
  /* line 1058, ../sass/screen.sass */
  section.section_1 section.section_6 {
    height: 1290px;
  }
  /* line 1061, ../sass/screen.sass */
  section.section_1 section.section_6 .container h2 {
    font-size: 30px;
  }
  /* line 1063, ../sass/screen.sass */
  section.section_1 section.section_6 .container h2 span {
    padding: 5px;
  }
  /* line 1065, ../sass/screen.sass */
  section.section_1 section.section_7 {
    height: 1350px;
  }
  /* line 1067, ../sass/screen.sass */
  section.section_1 section.section_7 .font_wrapper {
    background: none;
  }
  /* line 1069, ../sass/screen.sass */
  section.section_1 section.section_7 .font_wrapper .container_header {
    text-align: center;
  }
  /* line 1071, ../sass/screen.sass */
  section.section_1 section.section_7 .font_wrapper .container_header img {
    position: relative;
  }
  /* line 1073, ../sass/screen.sass */
  section.section_1 section.section_7 .font_wrapper .container_header h2 {
    margin-left: 0;
    position: inherit;
  }
  /* line 1076, ../sass/screen.sass */
  section.section_1 section.section_7 .font_wrapper .container_main {
    padding-top: 0;
  }
  /* line 1078, ../sass/screen.sass */
  section.section_1 section.section_7 .font_wrapper .container_main .center {
    margin: 0;
  }
  /* line 1080, ../sass/screen.sass */
  section.section_1 section.section_7 .font_wrapper .container_footer {
    bottom: 0;
  }
  /* line 1082, ../sass/screen.sass */
  section.section_1 section.section_8 {
    height: 100%;
  }
  /* line 1086, ../sass/screen.sass */
  section.section_1 section.section_11 .container h2 {
    padding: 40px 0;
  }
  /* line 1088, ../sass/screen.sass */
  section.section_1 section.section_12 {
    height: 100%;
  }
  /* line 1091, ../sass/screen.sass */
  section.section_1 section.section_12 .container h2 {
    padding: 40px 0 0;
  }
  /* line 1093, ../sass/screen.sass */
  section.section_1 section.section_12 .container .main_content {
    padding-top: 50px;
  }
  /* line 1095, ../sass/screen.sass */
  section.section_1 section.section_13 {
    height: 100%;
  }
  /* line 1098, ../sass/screen.sass */
  section.section_1 section.section_13 .container h2 {
    padding: 40px 0 0;
  }
  /* line 1100, ../sass/screen.sass */
  section.section_1 section.section_13 .container .cbp-fwslider ul li > div, section.section_1 section.section_13 .container .cbp-fwslider ul li > p {
    overflow: hidden;
    line-height: 1.2;
    font-size: 18px;
  }
  /* line 1106, ../sass/screen.sass */
  section.section_1 section.section_15 .container h2 {
    padding: 20px;
    font-size: 40px;
  }
  /* line 1109, ../sass/screen.sass */
  section.section_1 section.section_15 .container h3 {
    padding: 10px;
  }
  /* line 1111, ../sass/screen.sass */
  section.section_1 section.section_15 .container .footer_content {
    font-size: 18px;
  }
  /* line 1113, ../sass/screen.sass */
  section.section_1 section.section_15 .container .footer_content img {
    padding-bottom: 0;
  }
}
