<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title></title>
    <style>
        {% include 'mail/style_redesigned.css' %}
    </style>
</head>
<body>
<table width="100%" cellpadding="0" cellspacing="0" border="0" style="background-color: #ededed;">
    <tr>
        <td align="center" style="background-color: #ededed;">
            <table width="540" align="center" cellpadding="0" cellspacing="0" border="0" style="width: 540px; background-color: #ededed;">
                <tr>
                    <td width="540" height="39" colspan="5" class="empty-line">
                        <div class="empty-line">&nbsp;</div>
                    </td>
                </tr>
                <tr>
                    <td width="197" height="96" colspan="2" style="width: 197px; height: 96px; background-color: #f8295c;">
                        <div style="width: 197px; height: 96px; background-color: #f8295c;">&nbsp;</div>
                    </td>
                    <td width="147" height="96" style="width: 147px; height: 96px; background-color: #f8295c;">
                        <div style="width: 147px; height: 96px; background-color: #f8295c;">
                            <img src="{{ static('mailing/logo.jpg') }}" width="147" height="96" style="width: 147px; height: 96px; display: block;">
                        </div>
                    </td>
                    <td width="196" height="96" colspan="2" style="width: 196px; height: 96px; background-color: #f8295c;">
                        <div style="width: 196px; height: 96px; background-color: #f8295c;">&nbsp;</div>
                    </td>
                </tr>
                <tr>
                    <td width="540" height="39" colspan="5" style="width: 540px; height: 39px; background-color: #ffffff;">
                        <div style="width: 540px; height: 39px; background-color: #ffffff;">&nbsp;</div>
                    </td>
                </tr>
                <tr>
                    <td width="43" height="36" style="width: 43px; height: 36px; background-color: #ffffff;">
                        <div style="width: 43px; height: 36px; background-color: #ffffff;">&nbsp;</div>
                    </td>
                    <td width="472" height="36" colspan="3" style="width: 472px; height: 36px; background-color: #ffffff;">
                        <div class="text" style="width: 472px; height: 36px;">
                            Уважаемый пользователь,
                        </div>
                    </td>
                    <td width="25" height="36" style="width: 25px; height: 36px; background-color: #ffffff;">
                        <div style="width: 25px; height: 36px; background-color: #ffffff;">&nbsp;</div>
                    </td>
                </tr>
                <tr>
                    <td width="43" height="74" style="width: 43px; height: 74px; background-color: #ffffff;">
                        <div style="width: 43px; height: 74px; background-color: #ffffff;">&nbsp;</div>
                    </td>
                    <td width="472" height="74" colspan="3" style="width: 472px; height: 74px; background-color: #ffffff;">
                        <div class="text" style="width: 472px; height: 74px;">
                            Как и обещали, мы провели перерасчет стоимости<br>приобретенной вами в марте услуги.<br>Оставшиеся деньги уже на вашем личном балансе.
                        </div>
                    </td>
                    <td width="25" height="74" style="width: 25px; height: 74px; background-color: #ffffff;">
                        <div style="width: 25px; height: 74px; background-color: #ffffff;">&nbsp;</div>
                    </td>
                </tr>
                <tr>
                    <td width="43" height="61" style="width: 43px; height: 61px; background-color: #ffffff;">
                        <div style="width: 43px; height: 61px; background-color: #ffffff;">&nbsp;</div>
                    </td>
                    <td width="472" height="61" colspan="3" style="width: 472px; height: 61px; background-color: #ffffff;">
                        <div class="text" style="width: 472px; height: 61px;">
                            Заходите в личный кабинет и приобретайте пакет услуг<br><strong>со скидкой 67%</strong><sup>*</sup>
                        </div>
                    </td>
                    <td width="25" height="61" style="width: 25px; height: 61px; background-color: #ffffff;">
                        <div style="width: 25px; height: 61px; background-color: #ffffff;">&nbsp;</div>
                    </td>
                </tr>
                <tr>
                    <td width="43" height="73" style="width: 43px; height: 73px; background-color: #ffffff;">
                        <div style="width: 43px; height: 73px; background-color: #ffffff;">&nbsp;</div>
                    </td>
                    <td width="472" height="73" colspan="3" style="width: 472px; height: 73px; background-color: #ffffff;">
                        <div style="width: 472px; height: 73px; background-color: #ffffff; text-align: center;">
                            <a href="http://mesto.ua/account/" target="_blank" class="button">Начать работу</a>
                        </div>
                    </td>
                    <td width="25" height="73" style="width: 25px; height: 73px; background-color: #ffffff;">
                        <div style="width: 25px; height: 73px; background-color: #ffffff;">&nbsp;</div>
                    </td>
                </tr>
                <tr>
                    <td width="43" height="36" style="width: 43px; height: 36px; background-color: #ffffff;">
                        <div style="width: 43px; height: 36px; background-color: #ffffff;">&nbsp;</div>
                    </td>
                    <td width="472" height="36" colspan="3" style="width: 472px; height: 36px; background-color: #ffffff;">
                        <div class="text" style="width: 472px; height: 36px; text-align: center;"><hr></div>
                    </td>
                    <td width="25" height="36" style="width: 25px; height: 36px; background-color: #ffffff;">
                        <div style="width: 25px; height: 36px; background-color: #ffffff;">&nbsp;</div>
                    </td>
                </tr>
                <tr>
                    <td width="43" height="36" style="width: 43px; height: 36px; background-color: #ffffff;">
                        <div style="width: 43px; height: 36px; background-color: #ffffff;">&nbsp;</div>
                    </td>
                    <td width="472" height="36" colspan="3" style="width: 472px; height: 36px; background-color: #ffffff;">
                        <div class="text" style="width: 472px; height: 36px; text-align: center;">
                            Полезные ссылки
                        </div>
                    </td>
                    <td width="25" height="36" style="width: 25px; height: 36px; background-color: #ffffff;">
                        <div style="width: 25px; height: 36px; background-color: #ffffff;">&nbsp;</div>
                    </td>
                </tr>
                <tr>
                    <td width="43" height="100" style="width: 43px; height: 100px; background-color: #ffffff;">
                        <div style="width: 43px; height: 100px; background-color: #ffffff;">&nbsp;</div>
                    </td>
                    <td width="472" height="100" colspan="3" style="width: 472px; height: 100px; background-color: #ffffff;">
                        <div class="text" style="width: 472px; height: 100px; text-align: center;">
                            <table width="100%" cellpadding="0" cellspacing="0" border="0" style="width: 100%; background-color: #ffffff;">
                                <tr>
                                    <td width="33%" height="100" align="left">
                                        <a href="http://mesto.ua/faq/platnyie-uslugi/kak-kupit-paket/" target="_blank" class="white-btn">Как купить<br>пакет</a>
                                    </td>
                                    <td width="33%" height="100" align="center">
                                        <a href="http://mesto.ua/faq/platnyie-uslugi/kak-kupit-vip/" class="white-btn" target="_blank">Как купить<br>VIP</a>
                                    </td>
                                    <td width="33%" height="100" align="right">
                                        <a href="http://mesto.ua/faq/platnyie-uslugi/skolko-stoyat-uslugi/" target="_blank" class="white-btn">Сколько стоят<br>услуги</a>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </td>
                    <td width="25" height="100" style="width: 25px; height: 100px; background-color: #ffffff;">
                        <div style="width: 25px; height: 100px; background-color: #ffffff;">&nbsp;</div>
                    </td>
                </tr>
                <tr>
                    <td width="43" height="42" style="width: 43px; height: 42px; background-color: #ffffff;">
                        <div style="width: 43px; height: 42px; background-color: #ffffff;">&nbsp;</div>
                    </td>
                    <td width="472" height="42" colspan="3" style="width: 472px; height: 42px; background-color: #ffffff;">
                        <div class="text" style="width: 472px; height: 42px; font-size: 12px; color: #7d7d7d;">
                            <sup>*</sup>Скидка закрепляется на полгода на пакеты, при условии<br>их ежемесячного продления.
                        </div>
                    </td>
                    <td width="25" height="42" style="width: 25px; height: 42px; background-color: #ffffff;">
                        <div style="width: 25px; height: 42px; background-color: #ffffff;">&nbsp;</div>
                    </td>
                </tr>
                <tr>
                    <td width="540" height="39" colspan="5" class="empty-line">
                        <div class="empty-line">&nbsp;</div>
                    </td>
                </tr>
                <tr>
                    <td width="197" height="29" colspan="2" style="width: 197px; height: 29px; background-color: #ededed;">
                        <div style="width: 197px; height: 29px; background-color: #ededed;">&nbsp;</div>
                    </td>
                    <td width="147" height="29" style="width: 147px; height: 29px; background-color: #ededed;">
                        <table width="100%" cellpadding="0" cellspacing="0" border="0" style="width: 100%; background-color: #ededed;">
                            <tr>
                                <td width="33%" height="29" align="center" class="social">
                                    <div class="social">
                                        <a href="https://www.facebook.com/pages/mestoua/317059891645154" target="_blank">
                                            <img src="{{ static('mailing/mailing-fb.jpg') }}" width="25" height="25" style="width: 25px; height: 25px;">
                                        </a>
                                    </div>
                                </td>
                                <td width="33%" height="29" align="center" class="social">
                                    <div class="social">
                                        <a href="https://twitter.com/Mesto_ua" target="_blank">
                                            <img src="{{ static('mailing/mailing-tw.jpg') }}" width="25" height="25" style="width: 25px; height: 25px;">
                                        </a>
                                    </div>
                                </td>
                                <td width="33%" height="29" align="center" class="social">
                                    <div class="social">
                                        <a href="https://vk.com/mestoua" target="_blank">
                                            <img src="{{ static('mailing/mailing-vk.jpg') }}" width="25" height="25" style="width: 25px; height: 25px;">
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td width="196" height="29" colspan="2" style="width: 196px; height: 29px; background-color: #ededed;">
                        <div style="width: 196px; height: 29px; background-color: #ededed;">&nbsp;</div>
                    </td>
                </tr>
                <tr>
                    <td width="540" height="39" colspan="5" class="empty-line">
                        <div class="empty-line">&nbsp;</div>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
</body>
</html>