{% extends "mail/base_redesigned_2017.jinja.html" %}

{% block content %}
  <tr>
    <td>
      <div class="text-wrap right-padding left-padding default-bottom-padding">
        Знижка 20% на покупку тарифного плана зберігається на 6 місяців до липня 2017 р. включно.
      </div>
    </td>
  </tr>
  <tr>
    <td>
      <div class="text-wrap right-padding left-padding default-bottom-padding">
        Купуйте послугу розміщення оголошень за старою ціною і отримуйте ще більше дзвінків від клієнтів.
      </div>
    </td>
  </tr>
  <tr>
    <td>
      <div class="text-wrap right-padding left-padding">
        <table cellpadding="0" cellspacing="0" width="100%" style="width: 100%;">
          <tr>
            <td width="50%" style="width: 50%" align="center">
              <a href="{{ host_url('services:plans') }}#plans-header" target="_blank" class="button">Дізнатися більше</a>
            </td>
            <td width="50%" style="width: 50%" align="center">
              <a href="{{ host_url('services:plans') }}#plans-header" target="_blank" class="button">Купити тариф зараз</a>
            </td>
          </tr>
        </table>
      </div>
    </td>
  </tr>
{% endblock %}
