{% extends "mail/base_redesigned.jinja.html" %}

{% block content %}
    <tr>
        <td width="43" height="79" style="width: 43px; height: 79px; background-color: #ffffff;">
            <div style="width: 43px; height: 79px; background-color: #ffffff;">&nbsp;</div>
        </td>
        <td width="472" height="79" colspan="3" style="width: 472px; height: 79px; background-color: #ffffff;">
            <div class="text" style="width: 472px; height: 79px;">
                <strong class="pink">19-21 мая 2016 г. в Киеве</strong> портал недвижимости Mesto.ua принимает<br> участие в международной выставке-форуме профессионалов рынка<br> недвижимости и инвестиций (KIEV PROPERTY EXPO - FORUM)<br> KPEF 2016.
            </div>
        </td>
        <td width="25" height="79" style="width: 25px; height: 79px; background-color: #ffffff;">
            <div style="width: 25px; height: 79px; background-color: #ffffff;">&nbsp;</div>
        </td>
    </tr>
    <tr>
        <td width="43" height="21" style="width: 43px; height: 21px; background-color: #ffffff;">
            <div style="width: 43px; height: 21px; background-color: #ffffff;">&nbsp;</div>
        </td>
        <td width="472" height="21" colspan="3" style="width: 472px; height: 21px; background-color: #ffffff;">
            <div class="text" style="width: 472px; height: 21px;"><hr></div>
        </td>
        <td width="25" height="21" style="width: 25px; height: 21px; background-color: #ffffff;">
            <div style="width: 25px; height: 21px; background-color: #ffffff;">&nbsp;</div>
        </td>
    </tr>
    <tr>
        <td width="43" height="107" style="width: 43px; height: 107px; background-color: #ffffff;">
            <div style="width: 43px; height: 107px; background-color: #ffffff;">&nbsp;</div>
        </td>
        <td width="472" height="107" colspan="3" style="width: 472px; height: 107px; background-color: #ffffff; text-align: center;">
            <img src="{{ static('mailing/mail-about-conference01.png') }}" width="88" height="88" style="width: 88px; height: 88px; display: inline-block;">
        </td>
        <td width="25" height="107" style="width: 25px; height: 107px; background-color: #ffffff;">
            <div style="width: 25px; height: 107px; background-color: #ffffff;">&nbsp;</div>
        </td>
    </tr>
    <tr>
        <td width="43" height="50" style="width: 43px; height: 50px; background-color: #ffffff;">
            <div style="width: 43px; height: 50px; background-color: #ffffff;">&nbsp;</div>
        </td>
        <td width="472" height="50" colspan="3" style="width: 472px; height: 50px; background-color: #ffffff;">
            <div class="text" style="width: 472px; height: 50px;">
                Выставка будет проходить в Украинском Доме, по адресу<br> <strong>ул. Крещатик 2 – вход свободный.</strong>
            </div>
        </td>
        <td width="25" height="50" style="width: 25px; height: 50px; background-color: #ffffff;">
            <div style="width: 25px; height: 50px; background-color: #ffffff;">&nbsp;</div>
        </td>
    </tr>
    <tr>
        <td width="43" height="136" style="width: 43px; height: 136px; background-color: #ffffff;">
            <div style="width: 43px; height: 136px; background-color: #ffffff;">&nbsp;</div>
        </td>
        <td width="472" height="136" colspan="3" style="width: 472px; height: 136px; background-color: #ffffff;">
            <div class="text" style="width: 472px; height: 136px;">
                Команда Mesto.ua приглашает вас посетить наш Командный пункт и<br> пообщаться с сотрудниками портала. Вы сможете задать вопросы по<br> рекламе и продвижению практикующим маркетологам с 6 летним<br> опытом работы, поговорить с бизнес-тренером, специалистом по<br> работе с возражениями <span class="pink" style="font-style: italic;">Ярославом Давидчуком</span>, а также первыми<br> узнать новинки и специальные предложения от компании у<br> руководителя Mesto.ua <span class="pink" style="font-style: italic;">Оксаны Кисиль</span>.
            </div>
        </td>
        <td width="25" height="136" style="width: 25px; height: 136px; background-color: #ffffff;">
            <div style="width: 25px; height: 136px; background-color: #ffffff;">&nbsp;</div>
        </td>
    </tr>
    <tr>
        <td width="43" height="45" style="width: 43px; height: 45px; background-color: #ffffff;">
            <div style="width: 43px; height: 45px; background-color: #ffffff;">&nbsp;</div>
        </td>
        <td width="472" height="45" colspan="3" style="width: 472px; height: 45px; background-color: #ffffff;">
            <div class="text" style="width: 472px; height: 45px;">
                Приходите, поучаствуйте в розыгрыше, а также приятно и с пользой<br> проведите время.
            </div>
        </td>
        <td width="25" height="45" style="width: 25px; height: 45px; background-color: #ffffff;">
            <div style="width: 25px; height: 45px; background-color: #ffffff;">&nbsp;</div>
        </td>
    </tr>
    <tr>
        <td width="43" height="33" style="width: 43px; height: 33px; background-color: #ffffff;">
            <div style="width: 43px; height: 33px; background-color: #ffffff;">&nbsp;</div>
        </td>
        <td width="472" height="33" colspan="3" style="width: 472px; height: 33px; background-color: #ffffff;">
            <div class="text" style="width: 472px; height: 33px; text-align: center;">
                <strong>Схема зала:</strong>
            </div>
        </td>
        <td width="25" height="33" style="width: 25px; height: 33px; background-color: #ffffff;">
            <div style="width: 25px; height: 33px; background-color: #ffffff;">&nbsp;</div>
        </td>
    </tr>
    <tr>
        <td width="43" height="495" style="width: 43px; height: 495px; background-color: #ffffff;">
            <div style="width: 43px; height: 495px; background-color: #ffffff;">&nbsp;</div>
        </td>
        <td width="472" height="495" colspan="3" style="width: 472px; height: 495px; background-color: #ffffff;">
            <div class="text" style="width: 472px; height: 495px; text-align: center;">
                <table width="100%" cellpadding="0" cellspacing="0" border="0" style="background-color: #ffffff;">
                    <tr>
                        <td width="157" height="113" align="right" class="table-info-images" style="text-align: right; width: 227px;">
                            <div class="table-info-images" style="text-align: right;">
                                <img src="{{ static('mailing/mail-about-conference02.png') }}" width="227" height="113" style="width: 227px; height: 113px;"><br>
                            </div>
                        </td>
                        <td width="157" height="113" align="left" class="table-info-images" style="text-align: left; width: 229px;">
                            <div class="table-info-images" style="text-align: left;">
                                <img src="{{ static('mailing/mail-about-conference03.png') }}" width="229" height="113" style="width: 229px; height: 113px;"><br>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td width="157" height="113" align="right" class="table-info-images" style="text-align: right; width: 227px;">
                            <div class="table-info-images" style="text-align: right;">
                                <img src="{{ static('mailing/mail-about-conference04.png') }}" width="227" height="113" style="width: 227px; height: 113px;"><br>
                            </div>
                        </td>
                        <td width="157" height="113" align="left" class="table-info-images" style="text-align: left; width: 229px;">
                            <div class="table-info-images" style="text-align: left;">
                                <img src="{{ static('mailing/mail-about-conference05.png') }}" width="229" height="113" style="width: 229px; height: 113px;"><br>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td width="157" height="113" align="right" class="table-info-images" style="text-align: right; width: 227px;">
                            <div class="table-info-images" style="text-align: right;">
                                <img src="{{ static('mailing/mail-about-conference06.png') }}" width="227" height="113" style="width: 227px; height: 113px;"><br>
                            </div>
                        </td>
                        <td width="157" height="113" align="left" class="table-info-images" style="text-align: left; width: 229px;">
                            <div class="table-info-images" style="text-align: left;">
                                <img src="{{ static('mailing/mail-about-conference07.png') }}" width="229" height="113" style="width: 229px; height: 113px;"><br>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td width="157" height="158" align="right" class="table-info-images" style="text-align: right; width: 227px;">
                            <div class="table-info-images" style="text-align: right;">
                                <img src="{{ static('mailing/mail-about-conference08.png') }}" width="227" height="158" style="width: 227px; height: 158px;"><br>
                            </div>
                        </td>
                        <td width="157" height="158" align="left" class="table-info-images" style="text-align: left; width: 229px;">
                            <div class="table-info-images" style="text-align: left;">
                                <img src="{{ static('mailing/mail-about-conference09.png') }}" width="229" height="158" style="width: 229px; height: 158px;"><br>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </td>
        <td width="25" height="495" style="width: 25px; height: 495px; background-color: #ffffff;">
            <div style="width: 25px; height: 495px; background-color: #ffffff;">&nbsp;</div>
        </td>
    </tr>
    <tr>
        <td width="43" height="21" style="width: 43px; height: 21px; background-color: #ffffff;">
            <div style="width: 43px; height: 21px; background-color: #ffffff;">&nbsp;</div>
        </td>
        <td width="472" height="21" colspan="3" style="width: 472px; height: 21px; background-color: #ffffff;">
            <div class="text" style="width: 472px; height: 21px;"><hr></div>
        </td>
        <td width="25" height="21" style="width: 25px; height: 21px; background-color: #ffffff;">
            <div style="width: 25px; height: 21px; background-color: #ffffff;">&nbsp;</div>
        </td>
    </tr>
    <tr>
        <td width="43" height="103" style="width: 43px; height: 103px; background-color: #ffffff;">
            <div style="width: 43px; height: 103px; background-color: #ffffff;">&nbsp;</div>
        </td>
        <td width="472" height="103" colspan="3" style="width: 472px; height: 103px; background-color: #ffffff;">
            <div class="text" style="width: 472px; height: 103px;">
                Для тех, кто хочет не только пообщаться, но и поучиться,<br> параллельно с выставкой, будет проходить XX Международная<br> Конференция <strong class="pink">«Рынок недвижимости: состояние, перспективы<br> развития, роль профессионалов в его формировании»</strong>, которую<br> проводит АСНУ (Ассоциация специалистов недвижимости Украины).
            </div>
        </td>
        <td width="25" height="103" style="width: 25px; height: 103px; background-color: #ffffff;">
            <div style="width: 25px; height: 103px; background-color: #ffffff;">&nbsp;</div>
        </td>
    </tr>
    <tr>
        <td width="43" height="65" style="width: 43px; height: 65px; background-color: #ffffff;">
            <div style="width: 43px; height: 65px; background-color: #ffffff;">&nbsp;</div>
        </td>
        <td width="472" height="65" colspan="3" style="width: 472px; height: 65px; background-color: #ffffff;">
            <div class="text" style="width: 472px; height: 65px;">
                Вход на конференцию платный с предварительной регистрацией<br> <a href="http://asnu.com.ua/register" target="_blank">здесь</a>.
            </div>
        </td>
        <td width="25" height="65" style="width: 25px; height: 65px; background-color: #ffffff;">
            <div style="width: 25px; height: 65px; background-color: #ffffff;">&nbsp;</div>
        </td>
    </tr>
    <tr>
        <td width="43" height="53" style="width: 43px; height: 53px; background-color: #ffffff;">
            <div style="width: 43px; height: 53px; background-color: #ffffff;">&nbsp;</div>
        </td>
        <td width="472" height="53" colspan="3" align="center" style="width: 472px; height: 53px; background-color: #ffffff; text-align: center;">
            <div style="width: 472px; height: 53px; text-align: center;">
                <table width="100%" cellpadding="0" cellspacing="0" border="0" style="background-color: #ffffff;">
                    <tr>
                        <td width="157" height="53" align="center" class="table-info-images">
                            <div class="table-info-images">
                                <img src="{{ static('mailing/mailing-about-professionals-image-02.jpg') }}" width="36" height="36" style="width: 36px; height: 36px;"><br>
                            </div>
                        </td>
                        <td width="157" height="53" align="center" class="table-info-images">
                            <div class="table-info-images">
                                <img src="{{ static('mailing/mailing-about-professionals-image-03.jpg') }}" width="36" height="36" style="width: 36px; height: 36px;"><br>
                            </div>
                        </td>
                        <td width="157" height="53" align="center" class="table-info-images">
                            <div class="table-info-images">
                                <img src="{{ static('mailing/mailing-about-professionals-image-04.jpg') }}" width="35" height="35" style="width: 35px; height: 35px;"><br>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </td>
        <td width="25" height="53" style="width: 25px; height: 53px; background-color: #ffffff;">
            <div style="width: 25px; height: 53px; background-color: #ffffff;">&nbsp;</div>
        </td>
    </tr>
    <tr>
        <td width="43" height="64" style="width: 43px; height: 64px; background-color: #ffffff;">
            <div style="width: 43px; height: 64px; background-color: #ffffff;">&nbsp;</div>
        </td>
        <td width="472" height="64" colspan="3" align="center" style="width: 472px; height: 64px; background-color: #ffffff; text-align: center;">
            <div style="width: 472px; height: 64px; text-align: center;">
                <table width="100%" cellpadding="0" cellspacing="0" border="0" style="background-color: #ffffff;">
                    <tr>
                        <td width="157" height="64" align="center" class="table-info">
                            <div class="table-info">
                                <a href="mailto:info@mesto.ua" target="_blank">info@mesto.ua</a>
                            </div>
                        </td>
                        <td width="157" height="64" align="center" class="table-info">
                            <div class="table-info">
                                <a href="skype:mesto.ua?chat" style="color: #333333; text-decoration: none; cursor: default;">mesto.ua</a>
                            </div>
                        </td>
                        <td width="157" height="64" align="center" class="table-info">
                            <div class="table-info" style="line-height: 120%;">044 228 68 98</div>
                        </td>
                    </tr>
                </table>
            </div>
        </td>
        <td width="25" height="64" style="width: 25px; height: 64px; background-color: #ffffff;">
            <div style="width: 25px; height: 64px; background-color: #ffffff;">&nbsp;</div>
        </td>
    </tr>
{% endblock %}

{% block footer %}{% endblock %}
