{% extends "mail/base_2017.04.jinja.html" %}

{% block greetings %}{% endblock %}

{%- block content %}
  <tr>
    <td valign="top">
      <img src="{{ static('mail/img/mailing/trening-intensiv.png') }}" width="700" height="325" style="width: 700px; height: 325px;">
    </td>
  </tr>
  <tr>
    <td>
        <div style="padding:35px 40px">
            <h1 style="font-size:25px;font-weight:bold;line-height: 35px;">
                20 октября в конференц зале «Леонардо» 
                состоится тренинг Ярослава Давидчука 
                и Анатолия Топала «Звонки и встречи: <br>
                переговоры без коротких гудков и отказов».
            </h1> <br> 
            <p style="font-size:19px;line-height: 30px;color:#565656;">
                Тема продаж довольно избита, но так, как покажем ее на тренинге мы — скучать вам не придется.<br>
                <span style="color:#f75e65;font-weight:bold;">Никакой «воды», бесед о личностном росте, «взрывных» цитат и  работы с возражениями.</span> 
                <br><br>
                Мы предлагаем вам получить набор инструментов переговорщика, а
                также разработать и протестировать личные переговорные
                паттерны и скрипты, адаптированные именно для вашей ниши и 
                системы продаж. Поэтому интенсив будет полезен как для новичков,
                так и для  самостоятельных и состоявшихся риелторов. 
                <br><br>
                Приятный бонус — члены АСНУ получают скидку в 10%, а ранняя
                регистрация — минус 300 грн. Поэтому, поспешите забронировать
                участие до конца сентября!
                <br><br>
                Остались вопросы или есть сомнения?<br>
                Звоните: <span style="font-weight:bold;">+38 (098) 686 91 12</span>
            </p>
        </div>
    </td>
  </tr>
  <tr>
    <td valign="top">
      <div class="text-wrap default-padding text-center bottom-padding">
        <a href="https://mesto.ua/trening-intensiv/?utm_source=newsletter&utm_medium=email&utm_campaign=Trening" target="_blank" class="button" style="font-size:18px;width:220px;">Узнать подробнее</a><br><br>
      </div>
    </td>
  </tr>
{% endblock -%}