{% extends "mail/base_redesigned.jinja.html" %}

{% block content %}
  {% import "mail/includes/macros.jinja.html" as macros with context %}

  <tr>
    {{ macros.text_cell(width=43, height=75) }}
    {{ macros.text_cell(width=472, height=75, cell_attr='colspan="3"', text='Команда <strong class="pink">mesto.ua</strong> постоянно работает над улучшением качества<br> сервиса для того, чтоб сотрудничество с порталом было<br> максимально удобным и эффективным.') }}
    {{ macros.text_cell(width=25, height=75) }}
  </tr>
  <tr>
    {{ macros.image_cell(width=43, height=146, image_width=43, image_height=146, image_src='mailing/mail_about_new_service-image01.png', background_color='#b5eef5') }}
    {{ macros.image_cell(width=472, height=146, cell_attr='colspan="3"', image_width=472, image_height=146, image_src='mailing/mail_about_new_service-image02.png', background_color='#b5eef5') }}
    {{ macros.image_cell(width=25, height=146, image_width=25, image_height=146, image_src='mailing/mail_about_new_service-image03.png', background_color='#b5eef5') }}
  </tr>
  <tr>
    {{ macros.text_cell(width=43, height=39, background_color='#b5eef5') }}
    <td width="472" height="39" colspan="3" style="width: 472px; height: 39px; background-color: #b5eef5;">
      <table width="472" align="center" cellpadding="0" cellspacing="0" border="0" style="width: 472px; background-color: #b5eef5;">
        <tr>
          {{ macros.image_cell(width=126, height=39, image_width=126, image_height=39, image_src='mailing/mail_about_new_service-image04.png', background_color='#b5eef5') }}
          {{ macros.text_cell(width=202, height=39, background_color='#b5eef5', text='<strong class="pink">Просто и доступно</strong>', extra_div_style='font-size: 18px; text-align: center;') }}
          {{ macros.image_cell(width=144, height=39, image_width=144, image_height=39, image_src='mailing/mail_about_new_service-image05.png', background_color='#b5eef5') }}
        </tr>
      </table>
    </td>
    {{ macros.text_cell(width=25, height=39, background_color='#b5eef5') }}
  </tr>
  <tr>
    {{ macros.image_cell(width=43, height=70, image_width=43, image_height=70, image_src='mailing/mail_about_new_service-image06.png', background_color='#b5eef5') }}
    {{ macros.text_cell(width=472, height=70, background_color='#b5eef5', cell_attr='colspan="3"', text='С 10 января 2017 г. на сайте <strong class="pink">mesto.ua</strong> в Личном кабинете запущен<br> обновленный раздел <strong>«Услуги»</strong>, где содержится подробное описание<br> всех актуальных моделей работы с сайтом, таких как Тарифный<br> план, Оплата за звонок/Оплата за заявку, VIP объявление и тд.') }}
    {{ macros.text_cell(width=25, height=70, background_color='#b5eef5') }}
  </tr>
  <tr>
    {{ macros.image_cell(width=43, height=18, image_width=43, image_height=18, image_src='mailing/mail_about_new_service-image07.png', background_color='#b5eef5') }}
    {{ macros.image_cell(width=472, height=18, image_width=472, image_height=18, cell_attr='colspan="3"', image_src='mailing/mail_about_new_service-image08.png', background_color='#b5eef5') }}
    {{ macros.image_cell(width=25, height=18, image_width=25, image_height=18, image_src='mailing/mail_about_new_service-image09.png', background_color='#b5eef5') }}
  </tr>
  <tr>
    {{ macros.image_cell(width=43, height=60, image_width=43, image_height=60, image_src='mailing/mail_about_new_service-image10.png', background_color='#b5eef5') }}
    <td width="472" height="60" colspan="3" style="width: 472px; height: 60px; background-color: #b5eef5;">
      <table width="472" align="center" cellpadding="0" cellspacing="0" border="0" style="width: 472px; background-color: #b5eef5;">
        <tr>
          {{ macros.text_cell(width=421, height=60, background_color='#b5eef5', text='Выбирайте и подключайте именно ту услугу, по которой Вам<br> максимально выгодно и эффективно работать.') }}
          {{ macros.image_cell(width=51, height=60, image_width=51, image_height=60, image_src='mailing/mail_about_new_service-image11.png', background_color='#b5eef5') }}
        </tr>
      </table>
    </td>
    {{ macros.image_cell(width=25, height=60, image_width=25, image_height=60, image_src='mailing/mail_about_new_service-image12.png', background_color='#b5eef5') }}
  </tr>
  <tr>
    {{ macros.text_cell(width=43, height=30) }}
    {{ macros.text_cell(width=472, height=30, cell_attr='colspan="3"') }}
    {{ macros.text_cell(width=25, height=30) }}
  </tr>
  <tr>
    {{ macros.text_cell(width=43, height=112) }}
    {{ macros.image_cell(width=472, height=112, cell_attr='colspan="3"', image_width=152, image_height=97, image_src='mailing/mail_about_new_service-image13.png', extra_div_style='text-align: center;') }}
    {{ macros.text_cell(width=25, height=112) }}
  </tr>
  <tr>
    {{ macros.text_cell(width=43, height=43) }}
    {{ macros.text_cell(width=472, height=43, cell_attr='colspan="3"', text='<strong class="pink">Мобильные номера телефонов</strong>', extra_div_style='font-size: 18px; text-align: center;') }}
    {{ macros.text_cell(width=25, height=43) }}
  </tr>
  <tr>
    {{ macros.text_cell(width=43, height=41) }}
    {{ macros.text_cell(width=472, height=41, cell_attr='colspan="3"', text='<strong>Отличная новость для тех, кто работает с услугой «Оплата за<br> звонок/Оплата за заявку»:</strong>') }}
    {{ macros.text_cell(width=25, height=41) }}
  </tr>
  <tr>
    {{ macros.text_cell(width=43, height=84) }}
    {{ macros.text_cell(width=472, height=84, cell_attr='colspan="3"', text='Предлагаем Вам заменить стационарный номер +38 (044) … .. ..<br>и +38 (048) … .. ..  в своих объявлениях на мобильный номер<br> телефона +38 (067) … .. .. и получать еще больше звонков и заявок<br> от целевых клиентов.') }}
    {{ macros.text_cell(width=25, height=84) }}
  </tr>
  <tr>
    {{ macros.text_cell(width=43, height=76) }}
    {{ macros.text_cell(width=472, height=76, cell_attr='colspan="3"', text='Также мы предлагаем дополнительный платный сервис к услуге<br> «Оплата за звонок/Оплата за заявку», которая называется<br> «Выделенный номер телефона»') }}
    {{ macros.text_cell(width=25, height=76) }}
  </tr>
  <tr>
    {{ macros.image_cell(width=43, height=144, image_width=43, image_height=144, image_src='mailing/mail_about_new_service-image14.png', background_color='#b5eef5') }}
    {{ macros.image_cell(width=472, height=144, image_width=472, image_height=144, cell_attr='colspan="3"', image_src='mailing/mail_about_new_service-image15.png', background_color='#b5eef5') }}
    {{ macros.image_cell(width=25, height=144, image_width=25, image_height=144, image_src='mailing/mail_about_new_service-image16.png', background_color='#b5eef5') }}
  </tr>
  <tr>
    {{ macros.image_cell(width=43, height=42, image_width=43, image_height=42, image_src='mailing/mail_about_new_service-image17.png', background_color='#b5eef5') }}
    <td width="472" height="42" colspan="3" style="width: 472px; height: 42px; background-color: #b5eef5;">
      <table width="472" align="center" cellpadding="0" cellspacing="0" border="0" style="width: 472px; background-color: #b5eef5;">
        <tr>
          {{ macros.image_cell(width=57, height=42, image_width=57, image_height=42, image_src='mailing/mail_about_new_service-image18.png', background_color='#b5eef5') }}
          {{ macros.text_cell(width=340, height=42, background_color='#b5eef5', text='<strong class="pink">Что это такое и чем оно интересно?</strong>', extra_div_style='font-size: 18px; text-align: center;') }}
          {{ macros.image_cell(width=75, height=42, image_width=75, image_height=42, image_src='mailing/mail_about_new_service-image19.png', background_color='#b5eef5') }}
        </tr>
      </table>
    </td>
    {{ macros.text_cell(width=25, height=42, background_color='#b5eef5') }}
  </tr>
  <tr>
    {{ macros.image_cell(width=43, height=124, image_width=43, image_height=124, image_src='mailing/mail_about_new_service-image20.png', background_color='#b5eef5') }}
    <td width="472" height="124" colspan="3" style="width: 472px; height: 124px; background-color: #b5eef5;">
      <table width="472" align="center" cellpadding="0" cellspacing="0" border="0" style="width: 472px; background-color: #b5eef5;">
        <tr>
          {{ macros.text_cell(width=441, height=124, background_color='#b5eef5', text='<strong>«Выделенный номер»</strong> - это отдельный мобильный номер<br> телефона, который будет закреплен за всеми Вашими<br> объявлениями, и клиентам не понадобится вводить ID-номер<br> объявления, для того чтобы связаться с Вами.<br> По данному выделенному номеру клиенты автоматически будут<br> попадать прямо к Вам!') }}
          {{ macros.image_cell(width=31, height=124, image_width=31, image_height=124, image_src='mailing/mail_about_new_service-image21.png', background_color='#b5eef5') }}
        </tr>
      </table>
    </td>
    {{ macros.image_cell(width=25, height=124, image_width=25, image_height=124, image_src='mailing/mail_about_new_service-image22.png', background_color='#b5eef5') }}
  </tr>
  <tr>
    {{ macros.image_cell(width=43, height=21, image_width=43, image_height=21, image_src='mailing/mail_about_new_service-image23.png', background_color='#b5eef5') }}
    {{ macros.image_cell(width=472, height=21, image_width=472, image_height=21, cell_attr='colspan="3"', image_src='mailing/mail_about_new_service-image24.png', background_color='#b5eef5') }}
    {{ macros.image_cell(width=25, height=21, image_width=25, image_height=21, image_src='mailing/mail_about_new_service-image25.png', background_color='#b5eef5') }}
  </tr>
  <tr>
    {{ macros.image_cell(width=43, height=52, image_width=43, image_height=52, image_src='mailing/mail_about_new_service-image26.png', background_color='#b5eef5') }}
    <td width="472" height="52" colspan="3" style="width: 472px; height: 52px; background-color: #b5eef5;">
      <table width="472" align="center" cellpadding="0" cellspacing="0" border="0" style="width: 472px; background-color: #b5eef5;">
        <tr>
          {{ macros.image_cell(width=51, height=52, image_width=51, image_height=52, image_src='mailing/mail_about_new_service-image27.png', background_color='#b5eef5') }}
          {{ macros.text_cell(width=352, height=52, text='<span style="font-size: 18px;">Стоимость услуги составляет -</span><br><strong>100 грн. в месяц</strong> (абон.плата)', extra_div_style='text-align: center;') }}
          {{ macros.image_cell(width=69, height=52, image_width=69, image_height=52, image_src='mailing/mail_about_new_service-image28.png', background_color='#b5eef5') }}
        </tr>
      </table>
    </td>
    {{ macros.text_cell(width=25, height=52, background_color='#b5eef5') }}
  </tr>
  <tr>
    {{ macros.text_cell(width=43, height=33, background_color='#b5eef5') }}
    {{ macros.image_cell(width=472, height=33, image_width=472, image_height=33, cell_attr='colspan="3"', image_src='mailing/mail_about_new_service-image29.png', background_color='#b5eef5') }}
    {{ macros.text_cell(width=25, height=33, background_color='#b5eef5') }}
  </tr>
  <tr>
    {{ macros.text_cell(width=43, height=61, background_color='#b5eef5') }}
    <td width="472" height="61" colspan="3" style="width: 472px; height: 61px; background-color: #b5eef5;">
      <table width="472" align="center" cellpadding="0" cellspacing="0" border="0" style="width: 472px; background-color: #b5eef5;">
        <tr>
          {{ macros.image_cell(width=68, height=61, image_width=68, image_height=61, image_src='mailing/mail_about_new_service-image30.png', background_color='#b5eef5') }}
          {{ macros.text_cell(width=318, height=61, background_color='#b5eef5', text='<a href="http://mesto.ua/account/services/" target="_blank" class="button" style="width: 274px;">Перейти к разделу «Услуги»</a>', extra_div_style='text-align: center;') }}
          {{ macros.image_cell(width=86, height=61, image_width=86, image_height=61, image_src='mailing/mail_about_new_service-image31.png', background_color='#b5eef5') }}
        </tr>
      </table>
    </td>
    {{ macros.text_cell(width=25, height=61, background_color='#b5eef5') }}
  </tr>
  <tr>
    {{ macros.text_cell(width=43, height=42, background_color='#b5eef5') }}
    {{ macros.text_cell(width=472, height=42, cell_attr='colspan="3"', background_color='#b5eef5', text='По вопросам размещения и за дополнительной информацией<br> обращайтесь к своему личному менеджеру.', extra_div_style='text-align: center; color: #878787;') }}
    {{ macros.text_cell(width=25, height=42, background_color='#b5eef5') }}
  </tr>
  <tr>
    {{ macros.text_cell(width=43, height=46, background_color='#b5eef5') }}
    <td width="472" height="46" colspan="3" style="width: 472px; height: 46px; background-color: #b5eef5;">
      <table width="472" align="center" cellpadding="0" cellspacing="0" border="0" style="width: 472px; background-color: #b5eef5;">
        <tr>
          {{ macros.image_cell(width=101, height=46, image_width=101, image_height=46, image_src='mailing/mail_about_lottery-image11.png', background_color='#b5eef5') }}
          {{ macros.text_cell(width=249, height=46, background_color='#b5eef5', text='<a href="http://mesto.ua/account/settings/profile/" target="_blank" class="pink">Связаться с менеджером здесь</a>', extra_div_style='text-align: center;') }}
          {{ macros.image_cell(width=122, height=46, image_width=122, image_height=46, image_src='mailing/mail_about_lottery-image12.png', background_color='#b5eef5') }}
        </tr>
      </table>
    </td>
    {{ macros.text_cell(width=25, height=23, background_color='#b5eef5') }}
  </tr>
  <tr>
    {{ macros.text_cell(width=43, height=30) }}
    {{ macros.text_cell(width=472, height=30, cell_attr='colspan="3"') }}
    {{ macros.text_cell(width=25, height=30) }}
  </tr>
{% endblock %}

{% block footer %}
  {% include "mail/includes/footer-contacts.html" %}
{% endblock %}
