{% extends "mail/base_2017.04.jinja.html" %}

{% block greetings %}
  {% include "mail/includes/empty-line-2017.04.html" %}
{% endblock %}

{% block content %}
  <tr>
    <td>
      <div class="text-wrap default-padding">
        <p>Становись профессионалом рынка недвижимости вместе с лучшими!</p>
        <ul>
          <li style="margin-bottom: 0">Вы уже много лет в недвижимости и хотите повысить свою результативность?</li>
          <li>Вы знаете, что необходимо обучаться, но не знаете куда обратиться?</li>
        </ul>
        <p>Приглашаем Вас на двухнедельный курс обучения риелтора при АН Valion<br>Данный курс дает четкое руководство и понимание как:</p>
        <ul>
          <li style="margin-bottom: 0">прогнозировать и анализировать рынок недвижимости;</li>
          <li style="margin-bottom: 0">использовать актуальные методы и навыки продаж;</li>
          <li style="margin-bottom: 0">расширить клиентскую базу и повторные продажи;</li>
          <li>основные тренды в продаже недвижимости и тд.</li>
        </ul>
        <p>Стоимость участия – 1400 грн.</p>
        <p>Осталось всего несколько мест – спеши зарегистрироваться уже сейчас</p>
      </div>
    </td>
  </tr>
  <tr>
    <td valign="top">
      <img src="{{ static('mailing/valion.jpg') }}" width="700" height="990" style="width: 700px; height: 990px;">
    </td>
  </tr>
{% endblock %}