{% extends "mail/base_redesigned_2017.jinja.html" %}

{% block extra_style %}
  p {margin:0 0 10px;line-height:18px;}
{% endblock %}

{% block greetings %}
<tr>
  <td>
      <div class="text-wrap text-center">
        <p><img src="{{ static('mailing/valion-logo.gif') }}" width="150" height="150" style="width: 150px; height: 150px;"></p>
        
        <p>{% trans %}Коллега!{% endtrans %}</p>
    </div>
  </td>
</tr>
{% endblock %}

{% block content %}
  <tr>
    <td>
      <div class="text-wrap right-padding left-padding default-bottom-padding">
        <p>Наверняка Вы уже задумывались над тем, как развивать свой бизнес и увеличить прибыль. Мы предлагаем решение этого вопроса. Компания Valion успешно помогает риэлторам Украины зарабатывать авторитет, увеличивать клиентскую базу, сделки и обороты. Имея богатый опыт работы со столичной недвижимостью, Valion масштабирует бизнес на всю Украину. В 2016 году мы стали компанией №1 в сфере операций с недвижимостью по результатам одиннадцатого национального рейтинга «Лучшие риэлторские компании Украины». Теперь мы приглашаем к сотрудничеству самостоятельных риэлторов, которые стремятся стать лидерами рынка вместе с нами.</p>
        <p>Франшиза от Valion дает много существенных преимуществ, быстрых решений сложных вопросов и системное профильное обучение по льготным тарифам.</p>
        <p>Низкая цена и прозрачные условия участия в программе делает её ещё более привлекательной по сравнению с аналогичными предложениями на рынке недвижимости.</p>
        <p>Чем отличается риэлтор-одиночка от представителя компании №1? Статистика говорит, что риэлтор крупной компании закрывает вдвое больше сделок при одинаковой деловой активности. Клиенты предпочитают авторитетную компанию при прочих равных. Вы экономите на полиграфии, рекламе, брендированной продукции, вас воспринимают серьезней на переговорах, вы сразу можете пользоваться авторитетом и опытом компании, под именем которой работаете по франшизе. Все эти факторы обеспечивают ваш быстрый старт на рынке недвижимости.</p>
        <p>Символическая цена — 100 грн. за регистрацию и 100 грн. в месяц дает возможность каждому активному риэлтору инвестировать в франшизу от Valion — компании №1 на рынке недвижимости Украины.</p>
        <p>Пока конкуренты будут пробиваться в одиночку, Вы сможете приглашать своих клиентов на переговоры в самый престижный бизнес-центр столицы, пользоваться сайтом компании для размещения своих объектов, проходить специальное обучение по программе компании. Чтобы узнать подробности программы поддержки, достаточно отправить простую форму с сайта: <a href="http://valion.ua/franchise/">http://valion.ua/franchise/</a></p>
        <p>Мы работаем в Киеве и Харькове, ещё с двумя городами ведутся переговоры о сотрудничестве.</p>
        <p>Добро пожаловать на борт! Становитесь сильнее с Valion.
      </div>
    </td>
  </tr>
{% endblock %}

{% block footer %}
{% endblock %}
