{% extends "base.jinja.html" %}


{% block content %}
<h1>{% trans %}Восстановление пароля{% endtrans %}</h1>
<div class='white-panel'>
    <p>{% trans %}Забыли пароль? Введите ниже адрес электронной почты, указанный при регистрации.{% endtrans %}</p>
    <p>{% trans %}Через несколько минут вы получите письмо с временной ссылкой доступа.{% endtrans %}<br/>
    {% trans %}Перейдите по ней на страницу замены пароля и введите новый - хорошо запоминающийся.{% endtrans %}<br/>
    {% trans %}Спасибо!{% endtrans %}</p>
   
    <form method="post" action=".">{% csrf_token %}
      {{ form.as_p() }}
      <input type="submit"  class="submit btn btn-danger" value="{% trans %}Сбросить пароль{% endtrans %}" />
    </form>
</div>
{% endblock %}
