<div class="col-xs-12 col-sm-6 newhome-thumbnail">
  <a href="{{ newhome.get_absolute_url() }}">
    <div></div>
    <span class="btn btn-danger">{% trans %}Инфо о комплексе{% endtrans %} ></span>
    {% with image=newhome.get_first_photo() %}
      {% if image %}
        <img src="{{ image.image|thumbnail("554x494", nocrop=True) }}">
      {% endif %}
    {% endwith %}
  </a>
  <div class="white-panel" data-url="{{ newhome.get_absolute_url() }}">
    <strong>{{ newhome.name }}</strong><br>
    <span class="subway">{{ newhome.get_subway_stations()|join(', ') }}</span><br>
    {% with price_at=newhome.get_price_range(False) %}
      {% if price_at %}<span>{{ price_at }}/м<sup>2</sup></span>{% else %}&nbsp;{% endif %}
    {% endwith %}
  </div>
</div>
