{% extends "mail/base_redesigned_2017.jinja.html" %}

{% block content %}
  <tr>
    <td>
      <div class="text-wrap right-padding left-padding default-bottom-padding">
        {% trans %}На Вашем Балансе закончились средства, и Вы не можете получать звонки и заявки от целевых клиентов{% endtrans %} <strong>mesto.ua</strong>
      </div>
    </td>
  </tr>
  <tr>
    <td>
      <div class="text-wrap default-bottom-padding text-center">
        <img src="{{ static('ppc/img/mail/money_not_enough-image01.png') }}" width="112" height="117" style="width: 112px; height: 117px;">
      </div>
    </td>
  </tr>
  <tr>
    <td>
      <div class="text-wrap right-padding left-padding default-bottom-padding">
        {% trans %}Пополните Ваш баланс и возобновите работу прямо сейчас!{% endtrans %}
      </div>
    </td>
  </tr>
  <tr>
    <td>
      <div class="text-wrap text-center">
        <a href="{{ host_url('profile_balance') }}{% if utm is defined %}?{{ utm.urlencode() }}{% endif %}" target="_blank" class="button">{% trans %}Пополнить баланс{% endtrans %}</a>
      </div>
    </td>
  </tr>
{% endblock %}
