  <tr>
    <td width="43" height="30" style="width: 43px; height: 30px; background-color: #ffffff;">
      <div class="text" style="width: 43px; height: 30px;">&nbsp;</div>
    </td>
    <td width="472" height="30" colspan="3" style="width: 472px; height: 30px; background-color: #ffffff;">
      <div class="text" style="width: 472px; height: 30px;">&nbsp;</div>
    </td>
    <td width="25" height="30" style="width: 25px; height: 30px; background-color: #ffffff;">
      <div class="text" style="width: 25px; height: 30px;">&nbsp;</div>
    </td>
  </tr>
