<tr>
    <td width="43" height="68" style="width: 43px; height: 68px; background-color: #ffffff;">
        <div style="width: 43px; height: 68px; background-color: #ffffff;">&nbsp;</div>
    </td>
    <td width="472" height="68" colspan="3" style="width: 472px; height: 68px; background-color: #ffffff;">
        <div class="text" style="width: 472px; height: 68px; text-align: center; color: #6d6d6d; font-style: italic;">
            {% trans %}Вы получили это сообщение, поскольку являетесь участником<br>проекта MESTO School.{% endtrans %}
        </div>
    </td>
    <td width="25" height="68" style="width: 25px; height: 68px; background-color: #ffffff;">
        <div style="width: 25px; height: 68px; background-color: #ffffff;">&nbsp;</div>
    </td>
</tr>
