<tr>
    <td width="43" height="28" style="width: 43px; height: 28px; background-color: #ffffff;">
        <div style="width: 43px; height: 28px; background-color: #ffffff;">&nbsp;</div>
    </td>
    <td width="472" height="28" colspan="3" style="width: 472px; height: 28px; background-color: #ffffff;">
        <div class="text" style="width: 472px; height: 28px;"><hr></div>
    </td>
    <td width="25" height="28" style="width: 25px; height: 28px; background-color: #ffffff;">
        <div style="width: 25px; height: 28px; background-color: #ffffff;">&nbsp;</div>
    </td>
</tr>
