<div class="modal fade" id="message-modal" tabindex="-1" role="dialog" aria-labelledby="myMessageModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">{% trans %}Закрыть{% endtrans %}</span></button>
            {% trans %}Отправить сообщение{% endtrans %}
        </div>
        <div class="modal-body modal-body-with-iframe"></div>
    </div>
  </div>
</div>
