<div class='breadcrumb'>
    {% if back is defined %}<a href='javascript:history.go(-1)' class='btn btn-mini btn-back'><i class='icon-back'></i> {% trans %}Назад{% endtrans %}</a> &larr; {% endif %}
    {% for link in breadcrumbs %}
        {% if link.0 and request.build_absolute_uri() != link.0 %}<a href='{{link.0}}'>{{link.1}}</a> {% endif %}
        {% if loop.revindex0 == 1 and '?' not in request.build_absolute_uri() %}
            {% if 'metro' in request.build_absolute_uri() %}
                &larr;
            {% else %}
                &nbsp;
            {% endif %}
        {% elif loop.revindex0 == 0 %}
            &nbsp;
        {% else %}
            &larr;
        {% endif %}
    {% endfor %}
    {% if header is defined and header %}<div class='header1'><h1>{{ header|safe }}</h1></div>{% endif %}
</div>