<div class="social-links clearfix">
    <a class="pull-left" href="https://www.facebook.com/pages/mestoua/317059891645154" target="_blank"><img src="{{ static('img/icon-facebook.png') }}" alt=""/></a>
    <a class="pull-left" href="https://vk.com/mestoua" target="_blank"><img src="{{ static('img/icon-vkontakte.png') }}" alt=""/></a>
    <a class="pull-left" href="https://twitter.com/Mesto_ua" target="_blank"><img src="{{ static('img/icon-twitter.png') }}" alt=""/></a>
    <a class="pull-left" href="https://plus.google.com/107511015705385727570/posts" target="_blank"><img src="{{ static('img/icon-google.png') }}" alt=""/></a>
</div>

