<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Тренинг-интенсив для специалистов по недвижимости</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta property="og:image" content="{{ static('training-with-topal/img/logo.png') }}" />
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">

    {%- include 'includes/gtm.jinja.html' -%}

    {% compress css %}
    <link href="{{ static('training-with-topal/css/screen.css') }}" type="text/css" rel="stylesheet">
    <link rel="stylesheet" href="{{ static('libs/owl.carousel/css/owl.carousel.min.css') }}">
    <link rel="stylesheet" href="{{ static('libs/owl.carousel/css/owl.theme.default.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ static('training-with-topal/css/default.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ static('training-with-topal/css/component.css') }}" />
    {% endcompress %}

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <script src="{{ static('libs/owl.carousel/js/owl.carousel.min.js') }}"></script>
    <script src="{{ static('training-with-topal/js/modernizr.custom.js') }}"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>

</head>
<body>
    {% include 'includes/gtm_noscript.jinja.html' %}
    <section class="section_1">
        <div class="header_wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-12 center">
                        <a href="/"><img src="{{ static('training-with-topal/img/logo.png') }}" alt="logo"/></a>
                    </div>

                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col main_block">
                    <div class="first_text">Звонки и встречи:<br/> переговоры без коротких <br/>гудков и отказов.</div>
                    <div class="second_text">Тренинг-интенсив для специалистов по недвижимости</div>
                    <div class="center">
                        <!--<input type="button" value="Заказать аудит" class="audit"/>-->
                        <input type="button" value="Хочу принять участие" class="egreet"/>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section_2">
        <div class="container">
            <div class="row">
                <div class="main_block col-lg-7 col-sm-10 col-md-10 ml-md-auto">Жизнь – это движение, невозможное без недвижимости. Если вы живете, руководствуясь этим принципом, значит, в адресной строке вашего браузера указан путь к настоящему успеху. Уверен, вы не раз задавали себе следующие вопросы:</div>
                <img alt="ask" src=""{{ static('training-with-topal/img/logo_ask.png') }}" />
            </div>
        </div>
    </section>
    <section class="section_3">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-9 col-sm-10 col-md-10">
                    <ul>
                        <li>Сколько звонков нужно принять, чтобы назначить встречу?</li>
                        <li>Как «подогреть» «холодный» звонок, разработав действенный скрипт?</li>
                        <li>Как определить потребности и приоритеты клиента при личной встрече? </li>
                        <li>Что нужно для увеличения уровня конверсии? </li>
                        <li>Как расположить к себе «сложного» клиента?</li>
                    </ul>
                </div>
                <div class="col-lg-10 col-sm-11 col-md-11">
                    <div class="content">Если вы без труда находите ответ на каждый из этих вопросов, вам вряд ли понадобится наша помощь. Однако если вы понимаете, что работа с клиентом – это катализатор бизнес-трансформаций, и хотите делать продажи, обеспечивая повторные сделки, у вас есть уникальная возможность получить в свое распоряжение эффективные инструменты и кейсы от успешных практиков.</div>
                </div>
            </div>
        </div>
    </section>
    <section class="section_4">
           <div class="container">
               <div id="slider-wrap">
                   <div id="slider">
                       <div class="slide">Возможно, этот тренинг посещают ваши конкуренты. <span>Не дайте им превратить наш опыт в их преимущество!</span></div>
                       <div class="slide">Тренинг своевременный и для УЖЕ успешных риелторов. <span>Ведь успех – это не точка, а всегда многоточие…</span></div>
                       <div class="slide">Наше собственное правило отрицания равенства гласит: <span>ценность нашего тренинга дороже его стоимости.</span></div>
                   </div>
               </div>
           </div>
    </section>
    <section class="section_5">
           <div class="container">
               <h2>Это тренинг для  <span>вас,</span> если…</h2>
               <div class="row">
                   <div class="col-lg-3 col-sm-11 col-md-11">
                       <img src="{{ static('training-with-topal/img/ico_prof.png') }}" alt="profile"/>
                       <span>Вы руководитель АН или оператор рынка недвижимости</span>
                   </div>
                   <div class="col-lg-3 col-sm-11 col-md-11">
                       <img src="{{ static('training-with-topal/img/ico_graf.png') }}" alt="graphic"/>
                       <span>Вы хотите в кратчайшие сроки повысить свою экспертность</span>
                   </div>
                   <div class="col-lg-3 col-sm-11 col-md-11">
                       <img src="{{ static('training-with-topal/img/ico_com.png') }}" alt="comment"/>
                       <span>Вы больше не думаете, а знаете, что умение общаться с клиентом – показатель профессионализма</span>
                   </div>
                   <div class="col-lg-3 col-sm-11 col-md-11">
                       <img src="{{ static('training-with-topal/img/ico_spisok.png') }}" alt="spisok"/>
                       <span>Вы верите в то, что большой успех соткан из множества знаний, умений и навыков</span>
                   </div>
               </div>
           </div>
    </section>
    <section class="section_6">
           <div class="container justify-content-center">
               <img alt="" src="{{ static('training-with-topal/img/logo_x.png') }}"/>
               <h2>Чего &nbsp;<span>&nbsp;не&nbsp;</span>&nbsp; будет на тренинге</h2>
               <div class="col-11 center">
                   <ul>
                       <li>пространных бесед о личностном росте – <span>мы учим продавать, а не жить!</span></li>
                       <li>«взрывных» цитат Стивена Р. Кови и Роберт Кийосаки – <span>после тренинга цитировать будут вас!</span></li>
                       <li>инструкций по работе с возражениями – <span>мы учим, как избегать возражений</span></li>
                       <li>«водных» процедур – <span>ничего лишнего, интересно и без «воды», только ценные кейсы и рекомендации!</span></li>
                       <li>урчащих желудков и кофеиновой недостаточности – <span>мы позаботились о перерыве на обед!</span></li>
                   </ul>
               </div>
           </div>
    </section>
    <section class="section_7">
        <div class="font_wrapper">
            <div class="container">
                <div class="row">
                    <div class="container_header col-12">
                        <img src="{{ static('training-with-topal/img/ico_oblaco.png') }}" alt=""/>
                        <h2>Неоспоримые факты <br/>от <span>Salesforce</span></h2>
                    </div>
                    <div class="container_main col-12">
                        <div class="col-lg-4 col-sm-11 col-md-11 left">92% всех взаимодействий с клиентами строятся на телефонных звонках!</div>
                        <div class="col-lg-2 col-sm-11 col-md-11 center">но…</div>
                        <div class="col-lg-4 col-sm-11 col-md-11 right">85% потенциальных клиентов и заказчиков недовольны тем, как поставщики продукта/услуги ведут переговоры по телефону</div>
                    </div>
                    <div class="container_footer col-12">
                        <p>После тренинга <span>вы будете знать,</span><br/>
                            как перетянуть статистику на свою сторону</p><br/>
                        <input type="button" value="Хочу принять участие" class="egreet">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section_8">
        <div class="container">
            <h2>Что даст вам участие в <span>тренинге?</span></h2>
            <div class="row">
                <div class="col-lg-3 col-sm-11 col-md-11">
                    <img src="{{ static('training-with-topal/img/ico_panama.png') }}" alt=""/>
                    <span>знания о разных техниках продаж недвижимости и возможность применить их на практике</span>
                </div>
                <div class="col-lg-3 col-sm-11 col-md-11">
                    <img src="{{ static('training-with-topal/img/ico_pen.png') }}" alt=""/>
                    <span>сценарии ведения телефонных переговоров</span>
                </div>
                <div class="col-lg-3 col-sm-11 col-md-11">
                    <img src="{{ static('training-with-topal/img/ico_people.png') }}" alt=""/>
                    <span>умение создавать собственные переговорные модели</span>
                </div>
                <div class="col-lg-3 col-sm-11 col-md-11">
                    <img src="{{ static('training-with-topal/img/ico_grafic.png') }}" alt=""/>
                    <span>рост показателей продаж</span>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-3 col-sm-11 col-md-11">
                    <img src="{{ static('training-with-topal/img/ico_list.png') }}" alt=""/>
                    <span>детальный отчет после проведения аудита обслуживания вашего отдела продаж</span>
                </div>
                <div class="col-lg-3 col-sm-11 col-md-11">
                    <img src="{{ static('training-with-topal/img/ico_girl.png') }}" alt=""/>
                    <span>приятное общение и новые связи во время фуршета</span>
                </div>
                <div class="col-lg-3 col-sm-11 col-md-11">
                    <img src="{{ static('training-with-topal/img/ico_stat.png') }}" alt=""/>
                    <span>возможность добиться успеха, умножив свои стремления на полученные знания</span>
                </div>
            </div>
        </div>
    </section>
    <section class="section_9">
        <div class="container">
            <div class="row">
                <img alt="ask" src="{{ static('training-with-topal/img/image_break.jpg') }}" />
            </div>
        </div>
    </section>
    <section class="section_10">
        <div class="container">
            <div class="row">
                <div class="content col-12">
                    <h2>Программа тренинга</h2><br/>

                    <ul><div class="circle">1</div>Телефонные переговоры<br/>
                        <li>этика и цели звонка</li><br/>
                        <li>техники: присоединение, перехват инициативы, вопросы, возражения</li><br/>
                        <li>алгоритм создания скриптов телефонных переговоров</li><br/>
                        <li>практикум скриптостроения</li>
                    </ul>


                    <ul><div class="circle">2</div>Личная встреча<br/>
                        <li>менеджмент ценностей клиента </li><br/>
                        <li>разбор и практикум техник продаж на примере риэлторской услуги </li>
                    </ul>


                    <h3><div class="circle">3</div>Почему не нужно обосновывать комиссию риэлтора?</h3>
                    <h3><div class="circle">4</div>Вручение сертификатов, фотосессия</h3>
                </div>
            </div>
        </div>
    </section>

    <section class="section_12">
        <div class="container">
            <div class="row justify-content-center">
                <h2 class="col-12">Спикеры</h2><br/>
                <div class="col-lg-6 col-sm-11 col-md-11 main_content">
                    <img src="{{ static('training-with-topal/img/image_foto1.png') }}" alt="Ярослав Давидчук" />
                    <ul>Ярослав Давидчук
                        <li>Бизнес-тренер</li>
                        <li>Руководитель проекта SmartSeller</li>
                        <li>Руководитель образовательного проекта для риелторов Mesto School</li>
                        <li>Специалист по организации продаж</li>
                        <li>Спикер всеукраинских конференций специалистов по недвижимости</li>
                    </ul>
                </div>
                <div class="col-lg-6 col-sm-11 col-md-11 main_content">
                    <img src="{{ static('training-with-topal/img/image_foto2.png') }}" alt="Анатолий Топал" />
                    <ul>Анатолий Топал
                        <li>Практикующий риелтор</li>
                        <li>Вице-президент Ассоциации профессиональных управляющих
                            недвижимостью</li>
                        <li>Член правления КГО АСНУ</li>
                        <li>Автор и соавтор курсов «Риелтор-профессионал», «Специалист по коммерческой недвижимости», «Старт профессии «риелтор»»</li>
                        <li>Руководитель проекта «Негосударственное экспертное бюро»</li>
                        <li>Партнер в «Бизнес Риал Групп»</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section class="section_13">
        <div class="container">
            <div class="wrapper">
                <h2>Отзывы</h2><br/>
                <div id="cbp-fwslider" class="cbp-fwslider">
                    <ul>
                        <li>
                            <i class="avatar1"></i>
                            <p><span>Алла Осипенко</span><br/>
                                Руководитель FreeDOM Estate</p>
                            <div><img src="{{ static('training-with-topal/img/ico_quote.png') }}" alt=""/>Спасибо организаторам тренинга-интенсива за насыщенный день, новые и забытые знания <a href="https://www.facebook.com/alla.osypenko/posts/1708431205836105" target="_blank">читать далее</a></div>
                        </li>
                        <li>
                            <i class="avatar2"></i>
                            <p><span>Наталия Балюк</span><br/>
                                Частный риэлтор</p>
                            <div><img src="{{ static('training-with-topal/img/ico_quote.png') }}" alt=""/> В тренингах и мастер классах, которые я посещаю, оцениваю не только полезные знания, и навыки,<br> которые получаю от коучей, но и комфортность самого  помещения (зала) <a target="_blank" href="https://www.facebook.com/nbalyuk/posts/10212448055454245">читать далее</a></div>
                        </li>
                        <li>
                            <i class="avatar3"></i>
                            <p><span>Носов Андрей</span><br/>
                                АН "Импульс", г. Днепр</p>
                            <div><img src="{{ static('training-with-topal/img/ico_quote.png') }}" alt=""/>Супер! Были предложены новые идеи рекламы объектов и ведения переговоров с клиентами. Хочется ещё!!!</div>
                        </li>
                        <li>
                            <i class="avatar4"></i>
                            <p><span>Линская Анастасия</span><br/>
                                АН "Атланта", г. Одесса</p>
                            <div><img src="{{ static('training-with-topal/img/ico_quote.png') }}" alt=""/>Вся информация Была представлена очень креативно, интересно и энергично. Спасибо огромное, много<br/> полезных вещей было услышано и заметано.</div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section class="section_14">
        <div class="container">
            <h2>Как это происходит</h2>
        </div>
        <div class="owl-carousel">
            <div><img src="{{ static('training-with-topal/img/yarik/01.jpg') }}" alt=""/></div>
            <div><img src="{{ static('training-with-topal/img/yarik/08.jpg') }}" alt=""/></div>
            <div><img src="{{ static('training-with-topal/img/yarik/09.jpg') }}" alt=""/></div>
            <div><img src="{{ static('training-with-topal/img/yarik/010.jpg') }}" alt=""/></div>
            <div><img src="{{ static('training-with-topal/img/yarik/013.jpg') }}" alt=""/></div>
            <div><img src="{{ static('training-with-topal/img/yarik/011.jpg') }}" alt=""/></div>
            <div><img src="{{ static('training-with-topal/img/yarik/012.jpg') }}" alt=""/></div>
            <div><img src="{{ static('training-with-topal/img/yarik/014.jpg') }}" alt=""/></div>
            <div><img src="{{ static('training-with-topal/img/yarik/07.jpg') }}" alt=""/></div>
            <div><img src="{{ static('training-with-topal/img/yarik/02.jpg') }}" alt=""/></div>
        </div>
    </section>
    <section class="section_15">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-5 col-sm-11 col-md-11 main_content">
                    <input class="second egreet" type="button" value="Хочу принять участие"/>
                </div>
                <div class="col-lg-10 col-sm-8 col-md-10 footer_content">
                    <img src="{{ static('training-with-topal/img/ico_ahtung.png') }}" alt=""/>
                    <div>Каждому зарегистрированному участнику гарантирован аудит отдела продаж его агентства. Наши специалисты сделают несколько анонимных звонков и, определив слабые стороны обслуживания и скриптов, составят подробный отчет. На тренинге мы вместе разберемся с тем, как устранить существующие проблемы.</div>
                </div>
            </div>
        </div>
    </section>
    <!--Popup Order-->
    <div class="modal_sucsess_ok" {% if training_form.is_valid() %} style="display:block;opacity:1"{% endif %}>
        <img src="{{ static('training-with-topal/img/ico_ok.png') }}" alt="mail"><br/><div>Заявка подана</div>
        <div class="footer">Спасибо за вашу заявку. Вскоре мы с вами свяжемся для обсуждения деталей участия</div>
    </div>
    <div class="modal_form_egreet">
        <div class="logo"><img src="{{ static('training-with-topal/img/ico_mail.png') }}" alt="mail"><br/>Заявка на участие</div>
        <form  id="order" action="" method="post">
            <div><input name="name" type="text" placeholder="Имя и фамилия" required value=""/></div>
            <div><input name="tel" type="tel" placeholder="Телефон" required value=""/></div>
            <div><input name="email" type="email" placeholder="E-mail" required value=""></div>
            <div><input name="agency" type="text" placeholder="Агенство недвижимости" required value=""/></div>
            <div><input name="position" type="text" placeholder="Должность" required value=""/></div>
            <div><input type="submit" value="Принять участие"/><input type="button" value="Отмена" class="chancel"/></div>
        </form>
    </div>
    <div id="overlay"></div>
    {% compress js %}
    <script src="{{ static('training-with-topal/js/script.js') }}" type="text/javascript"></script>
    <script src="{{ static('training-with-topal/js/jquery.cbpFWSlider.min.js') }}"></script>
    <script>
        $('.owl-carousel').owlCarousel({
            loop:true,
            margin:10,
            responsiveClass:true,
            responsive:{
                0:{
                    items:1,
                    nav:true
                },
                600:{
                    items:2,
                    nav:true
                },
                768:{
                    items:2,
                    nav:true
                },
                1000:{
                    items:3,
                    nav:true,
                    loop:false
                },
                1280:{
                    items:4,
                    nav:true,
                    loop:false
                }
            }
        })
        $( function() {
            /*
             - how to call the plugin:
             $( selector ).cbpFWSlider( [options] );
             - options:
             {
             // default transition speed (ms)
             speed : 500,
             // default transition easing
             easing : 'ease'
             }
             - destroy:
             $( selector ).cbpFWSlider( 'destroy' );
             */
            $( '#cbp-fwslider' ).cbpFWSlider();
        } );
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('.owl-carousel .owl-item img').click(function () {
                var o=$(this).parent();
                var url=o.find('img').attr('src');
                var html='<div id="clone" onclick="this.remove();"><img src="'+url+'" /></div>'
                $('body').append(html);
                o=o.find('#clone');
                o.click(function (event) {
                    event.preventDefault ? event.preventDefault() : (event.returnValue=false);
                });
            });
        });
    </script>
    {% endcompress %}

</body>
</html>
