<div class="row topup-buttons">
  <div class="col-xs-offset-7 col-xs-10">
    <button type="submit" class="btn btn-default privat" name="payment_system" value="liqpay" data-event-text="Оплата банковской картой, терминал">{% trans %}Оплата банковской картой, терминал{% endtrans %}</button>
  </div>
  {# <div class="col-xs-offset-2 col-xs-9">
    <button type="submit" class="btn btn-default privat" name="payment_system" value="liqpay" data-event-text="Пополнение баланса Приват">{% trans %}Приват24, банковские карты, терминалы{% endtrans %}</button>
  </div>
  <div class="col-xs-offset-1 col-xs-9">
    <button type="submit" class="btn btn-default creditcard" name="payment_system" value="copayco" data-event-text="Пополнение баланса карта">{% trans %}Банковская карта{% endtrans %}</button>
  </div>
  <div class="col-xs-offset-0 col-xs-8">
    <button type="submit" class="btn btn-default other" name="payment_system" value="interkassa2">{% trans %}Другие способы оплаты{% endtrans %}</button>
  </div> #}
</div><br/>