<div class="modal fade" id="international-message-modal" tabindex="-1" role="dialog" aria-labelledby="myMessageModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">{% trans %}Закрыть{% endtrans %}</span></button>
            {% trans %}Заполните форму ниже, чтобы агент связался с вами{% endtrans %}
        </div>
        <div class="modal-body">
            {% if contact_form_success is defined %}
                <div class="alert alert-success">{% trans %}Запрос отправлен{% endtrans %}</div>
            {% else %}
                <form method="POST">
                    {% csrf_token %}

                    {% from "macro/forms.jinja.html" import bootstrap_form  %}
                    {{ bootstrap_form(contact_form,label_as_placeholder=True) }}

                    <div id="div_id_submit" class="form-group">
                        <input class="btn btn-md btn-danger btn-block" id="id_submit" name="submit" type="submit" value="{% trans %}Отправить{% endtrans %}">
                    </div>
                </form>
            {% endif %}
        </div>
    </div>
  </div>
</div>
<script>
$(function () {
    if ($('#international-message-modal .alert').length) {
        $('#international-message-modal dl').removeClass('dl-horizontal no-margin-bottom').css('margin-bottom', 10);
        $('#international-message-modal').modal('show');
    }
});
</script>